.intent-implementation-main-container {
    .row {
        max-width: 100%;
    }
    .main-panel {
      //  height: 850px;
      //  width:90%!important;
      //  overflow-y: hidden!important;
      // margin-top:5px; 
     // background-color: lightgray;
      height:650px;
      overflow-y: hidden;
    }

    .main-container {
        max-width: 95%!important;
        margin-left:50px!important;
        margin-right: 50px!important;
    }

}


.project-header {
     width: 98%;
    // box-shadow: 7px 8px 0px 0px rgba(16, 17, 17, 0.25);
   //  margin-bottom: 5px;
   //  background-color: #829cb6;
     padding-top: 10px;
     padding-bottom: 5px;
   //  border-radius: 0.5em;
 }
 
 .project-detail {
    width: 98%;
   //  box-shadow: 0px 3px 5px 0 rgba(60, 78, 100, 0.25);
   //  margin-bottom: 5px;
   //  background-color: #3f576e;
   //  padding-top: 30px;
   //  padding-bottom: 5px;
   //  border-radius: 0.5em;
     height: 600px;
     overflow-y: auto;
 
 }