<div class="row intent-implementation-main-container main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
    <div class="columns mos-u-spacer--margin-bottom-md main-panel">

        <!--            
<div class="intent-implementation-main-container">
    <div class="main-panel mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
    -->

        <!--
    <div class="columns side-nav">
        <app-side-menu menulevel="ec"></app-side-menu>
    </div>
    -->

        <div class="row">
            <div class="columns project-header">
                <!--
                    <mercer-page-menu [currentroute]="currentroute" 
                    [projectname]="projectname" [projectcategory]="projectcategory"></mercer-page-menu>
                -->
                <!-- <mercer-breadcrumb [data]="navigationdata"></mercer-breadcrumb> -->
                <app-breadcrumb childUrl="intentimplementation" showTrainingButton="false"></app-breadcrumb>
            </div>
        </div>

        <div class="row">
            <div class="columns project-detail">

                <div class="row align-middle mos-u-spacer--margin-bottom-lg">
                    <div class="columns small-12 mos-u-spacer--margin-top-lg">
                        <mercer-tab-group theme="primary" borderTheme="primary" activeTheme="primary" class="enterprise-content">

                            <!--.................1ST TAB STARTS............... -->
                            <mercer-tab>
                                <ng-template mercer-tab-label>
                                    Implementation
                                </ng-template>
                                <mercer-tab-content>
                                    <mercer-intent-implementation-nodemap 
                                        [nlpmodel]="nlpmodelid" [nlpintent]="nlpintentid" 
                                        [intentffmodelgraph]="intentmodelgraphid"></mercer-intent-implementation-nodemap>
                                </mercer-tab-content>
                            </mercer-tab>
                            <!--.................1ST TAB ENDS............... -->


                            <!--.................3RD TAB STARTS............... -->
                            <mercer-tab>
                                <ng-template mercer-tab-label>
                                    DataSets
                                </ng-template>
                                <mercer-tab-content>
                                    <mercer-ec-dataset></mercer-ec-dataset>
                                </mercer-tab-content>
                            </mercer-tab>
                            <!--.................3RD TAB ENDS............... -->

                            <!--.................4TH TAB STARTS............... -->
                            <mercer-tab>
                                <ng-template mercer-tab-label>
                                    Connectors
                                </ng-template>
                                <mercer-tab-content>
                                    <mercer-ec-connector></mercer-ec-connector>
                                </mercer-tab-content>
                            </mercer-tab>
                            <!--.................4TH TAB ENDS............... -->

                            <!--.................5TH TAB STARTS............... -->
                            <mercer-tab>
                                <ng-template mercer-tab-label>
                                    Connector Types
                                </ng-template>
                                <mercer-tab-content>
                                    <mercer-ec-connectortype></mercer-ec-connectortype>
                                </mercer-tab-content>
                            </mercer-tab>
                            <!--.................5TH TAB ENDS............... -->

                        </mercer-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>