<!-- <mercer-carousel [autoSlideHeight]="true" [enableFixedHeight]="true" [animationTime]="1" [slideDuration]="5" [disableAutoRotate]="true"
    [disableDrag]="true" [slidesVisible]="1" [stepSize]="1"> -->

<!-- <mercer-carousel-slide><a  [routerLink]="['/NLP']">NLP</a></mercer-carousel-slide> -->
<!-- <mercer-carousel-slide><img width="350px" height="850px" class="mos-u-grid-full-width" src="../../../assets/images/spacy_2.png"></mercer-carousel-slide>
    <mercer-carousel-slide><img width="350px" height="850px" class="mos-u-grid-full-width" src="../../../assets/images/spacy_1.png"></mercer-carousel-slide> -->

<!-- <mercer-carousel-slide><img class="mos-u-grid-full-width" src="../../../assets/images/nlp_5.jpg"></mercer-carousel-slide>
    <mercer-carousel-slide><img class="mos-u-grid-full-width" src="../../../assets/images/ml_1.jpg"></mercer-carousel-slide> -->

<!-- <mercer-carousel-slide><img width="350px" height="800px" class="mos-u-grid-full-width" src="../../../assets/images/nlp_2.png"></mercer-carousel-slide> -->
<!-- <mercer-carousel-slide><img width="350px" height="850px" class="mos-u-grid-full-width" src="../../../assets/images/nlp_3.png"></mercer-carousel-slide> -->
<!-- <mercer-carousel-slide><img width="350px" height="800px" class="mos-u-grid-full-width" src="../../../assets/images/nlp_4.png"></mercer-carousel-slide> -->

<!-- <mercer-carousel-slide><img class="mos-u-grid-full-width" src="http://placehold.it/850x350"></mercer-carousel-slide> -->

<!-- </mercer-carousel> -->