<!-- <mercer-nlp-header></mercer-nlp-header> -->
<div class="row main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
  <!-- <div class="columns side-nav">
    <app-side-menu menulevel="nlp"></app-side-menu>
  </div> -->
  <div class="columns mos-u-spacer--margin-bottom-md main-panel">

    <div class="columns project-header">
      <!--
              <mercer-page-menu [currentroute]="currentroute" 
              [projectname]="projectname" [projectcategory]="projectcategory"></mercer-page-menu>
          -->
      <app-breadcrumb childUrl="intentlist" showTrainingButton="false"></app-breadcrumb>
      <p></p>
    </div>
    <!-- <h4>Add / Edit Project</h4> -->
    <h3 style="margin-top:-20px;margin-bottom:5px;">
      <fieldset>
        <!--<ul class="mos-o-form-list-inline headingBar">
          <li class="small-8 columns">
            <span style="font-size: 1rem !important;">Intent Listing</span>
          </li>          -->
        <!--  <li class="small-4 columns">
            <button mercer-icon-button type="button" icon="add_circle" (click)="addModel(infoExample)">Create New Language Model</button>
          </li>
        </ul> -->
      </fieldset>
    </h3>
    <div>
      <mercer-table [striped]="true" [headers]="stripedheaderData" [rows]="stripedrowData" [responsive]="true">
        <ng-template mercer-table-row let-row="row">
          <td>
            <a (click)="goToNext(row.nlpintentid,row.nlpmodelid,row.intentCategory,row.modelName)">{{row.intentCategory}}</a>
          </td>
          <td>{{row.modelName}} </td>
          <td>{{row.lastmodifiedby}}</td>
          <td>{{row.lastmodifiedon | date:'MMM dd, yyyy [HH:mm]'}}</td>
          <td>{{row.status}} </td>
          <td>{{row.implementationstatus}} %</td>
          <!-- <td>{{row.endpointsHitCount || 0}}</td> -->
          <td>
            <!-- <a class="floatLeft" (click)="editModel(infoExample,row)">Edit</a> -->
            <mercer-modal #confirmDialog escapable="true" size="sm" iconType="error" [showHeader]="false" alternativeTitle="Delete NLP Model - {{row.name}}"
              theme="alert">

              <mercer-modal-content contentMaxHeight="400">
                <p>Are you sure you want to delete this model and all its associated categories, utterances and entities?</p>
              </mercer-modal-content>
              <mercer-modal-footer>
                <div class="row align-right is-collapse-child mos-c-modal__actions">
                  <div>
                    <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="confirmDialog.close()">No</button>
                  </div>
                  <div>
                    <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="deleteModel(row._id, confirmDialog)">Yes</button>
                  </div>
                </div>
              </mercer-modal-footer>
            </mercer-modal>
            <button class="BtnfloatLeft" mercer-icon-button type="button" icon="mode_edit" (click)="editModel(infoExample,row)">Edit</button>
            <!-- <button class="BtnfloatLeft" mercer-icon-button type="button" icon="delete" (click)="deleteModel(row._id)"></button> -->
            <button class="BtnfloatLeft" mercer-icon-button type="button" icon="delete" (click)="confirmDialog.open()"></button>
            <button class="BtnfloatLeft" mercer-icon-button type="button" icon="get_app" (click)="downloadModel(row._id)"></button>
          </td>
        </ng-template>
      </mercer-table>
    </div>
  </div>
</div>