<div class="dataset-container">
  <div class="row mos-o-form-row top-button-panel">
    <div class="small-12 columns">
      <button mercer-fab-button type="button" icon="add" theme="success" class="mos-u-float-right" size="sm" (click)="resetdataset();datasetPopup.open()">New
        Dataset
      </button>
    </div>
  </div>

  <div class="row">
    <div class="data-table">
      <mercer-table id="datasetDataTable" [bordered]="true" [striped]="true" [sortable]="true" [rowHighlight]="true" [headers]="datasetheaderData"
        [rows]="stripedrowData">
        <ng-template mercer-table-row let-row="row">
          <td style="overflow:hidden; padding-left: 10px;">
            {{row.name}}
          </td>
          <td>
            {{row.connector.name}}
          </td>
          <td class="Caps">
            {{row.connector.connectortype.category}} | {{row.connector.connectortype.subcategory}}
          </td>
          <td style="padding-left: 40px;">
            {{ (row.ispublic)?'Yes':'No' }}
          </td>
          <td style="padding-left: 50px;">
            {{ (row.sysdefined)?'Yes':'No' }}
          </td>
          <td style="text-align: center">
            <div class="mos-u-display--inline-block">
              <button mercer-icon-button type="button" icon="mode_edit" alt="Edit" (click)="editdataset(row.datasetid, false);datasetPopup.open()"
                mercer-tooltip mercer-tooltip-text="Edit" mercer-tooltip-position="bottom-left" mercer-tooltip-delay="100"></button>
            </div>
            <div class="mos-u-display--inline-block">
              <button mercer-icon-button type="button" [disabled]="row.sysdefined" icon="delete" alt="delete" (click)="deletedataset(row.datasetid)"
                mercer-tooltip mercer-tooltip-text="Delete" mercer-tooltip-position="bottom-left" mercer-tooltip-delay="100"></button>
            </div>
            <div class="mos-u-display--inline-block">
              <button mercer-icon-button type="button" icon="format_list_bulleted" alt="DatasetPreview" (click)="editdataset(row.datasetid, true);dataPreviewInterface.open()"
                mercer-tooltip mercer-tooltip-text="Preview Data" mercer-tooltip-position="bottom-left" mercer-tooltip-delay="100"></button>
            </div>
          </td>
        </ng-template>
      </mercer-table>
      <mercer-pagination (paginationInfoRequest)="updatePage($event)" [paginationInfo]="paginationInfo" [showLimitOptions]="true"
        [showItemInfo]="true"></mercer-pagination>

    </div>
  </div>


  <mercer-modal #datasetPopup escapable="true" theme="primary">
    <mercer-modal-header>
      <h3>{{ popuptitle }}</h3>
    </mercer-modal-header>
    <mercer-modal-content contentMaxHeight="400">
      <form [formGroup]="datasetForm" novalidate>
        <fieldset>
          <div class="row mos-o-form-row">
            <div class="small-12 columns mos-o-form-input-field">
              <input type="text" formControlName="name" [(ngModel)]="dataset.name" placeholder="Enter unique dataset name">
              <label for="name">DataSet Name:</label>
            </div>
          </div>
          <div class="row mos-o-form-row">
            <div class="small-12 columns mos-o-form-input-field">
              <select name="connector" class="ecdropdown" title="Select appropriate connector" formControlName="connector" [(ngModel)]="dataset.connectorid"
                (change)="connectorchange()">
                <option selected value="">Select appropriate connector</option>
                <option *ngFor="let connector of connectors" [value]="connector.connectorid">{{connector.name}}</option>
              </select>
              <label for="connector">Connector:</label>
            </div>
          </div>


          <div class="row mos-o-form-row">
            <div class="small-12 columns">

              <!-- <legend>Source</legend> -->


              <mercer-card isHoverShadow="true" theme="primary">
                <mercer-card-header>
                  <h3>Source</h3>
                </mercer-card-header>
                <mercer-card-content>
                  <mercer-ec-dataset-source [category]="dataset.connector.connectortype.category" [subcategory]="dataset.connector.connectortype.subcategory"
                    [reset]="resetsource" [source]="dataset.sourceAsObject" (onChange)="updatesource($event)"></mercer-ec-dataset-source>

                </mercer-card-content>
                <mercer-card-footer>

                </mercer-card-footer>
              </mercer-card>
            </div>
          </div>

          <div class="row mos-o-form-row">
            <div class="small-6 columns mos-o-form-input-field">
              <input type="checkbox" id="isPublic" formControlName="isPublic" title="" [(ngModel)]="dataset.ispublic">
              <label for="isPublic">Shared with Others (Public)</label>
            </div>
            <div class="small-6 columns mos-o-form-input-field">
              <input type="checkbox" id="sytemDefined" formControlName="sytemDefined" title="" [(ngModel)]="dataset.sysdefined">
              <label for="sytemDefined">System Defined</label>
            </div>
          </div>

        </fieldset>
      </form>
    </mercer-modal-content>
    <mercer-modal-footer>
      <div class="row align-right is-collapse-child mos-c-modal__actions">
        <div>
          <button mercer-button expandedOn="small" size="sm" (click)="savedataset(datasetPopup)">Save</button>
        </div>
        <div>
          <button mercer-button expandedOn="small" [outline]="true" size="sm" (click)="datasetPopup.close()">Cancel</button>
        </div>
      </div>
    </mercer-modal-footer>
  </mercer-modal>

  <mercer-modal #dataPreviewInterface escapable="true" theme="primary">
    <mercer-modal-header>
      <h3>DataSet - Preview your data</h3>
    </mercer-modal-header>
    <mercer-modal-content contentMaxHeight="400">
      <div>
        <div class="row">
          <div class="small-6 columns"><span class="preview-info-label">Data Set: </span>{{ dataset.name }} </div>
          <div class="small-6 columns" *ngIf="dataset.connector.connectortype && dataset.connector.connectortype!='undefined'">
            <span class="preview-info-label">Connector:</span> {{ dataset.connector.connectortype.name }}
          </div>
        </div>

        <br/>

        <table *ngIf="parameters && parameters.length>0">
          <tr>
            <td colspan="2" style="padding-left: 1px;"><span class="preview-instruction">Please enter parameter values</span></td>
          </tr>
          <tr>
            <td class="preview-header-col">PARAMETER</td>
            <td class="preview-header-col">VALUE</td>
          </tr>
          <tr *ngFor="let param of parameters">
            <td class="preview-paramname">{{ param.name }}</td>
            <td class="preview-paramvalue">
              <input type="text" [value]="param.value" (change)="paramValueChange(param,$event)" style="width:80%;">
            </td>
          </tr>
        </table>
        <br />
        <span class="preview-instruction">{{previewstatus}}</span>
        <button mercer-button type="button" expandedOn="small" class="mos-u-float-right" (click)="datapreview()">Execute</button>
        <br /><br /><br />


        <textarea [class]="previewresultstyle" type="text" name="previewdata" #previewdata [(ngModel)]="previewresult"></textarea>
        <br />
      </div>
    </mercer-modal-content>
    <mercer-modal-footer>
      <div class="row align-right is-collapse-child mos-c-modal__actions">
        <div>
          <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="copyResult(previewdata)">Copy Result</button>
          <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="dataPreviewInterface.close()">Close</button>
        </div>
      </div>
    </mercer-modal-footer>
  </mercer-modal>

</div>