.dataset-container {
    .mos-o-form-row {
      margin-bottom: 0.3rem;
      line-height: 0.3rem;
  
      label {
        font-size: 0.87rem !important;
      }
    }
  
    td, th {
      padding: 0.2rem!important;
    }

    .row {
        max-width: 100%;
        padding: 10px;
    }
}

.top-button-panel {
    max-width: 100%;
}

.data-table {
    font-size: 0.8rem;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    height: 350px;
    overflow-y: auto;
  
    thead {
      background-color: #005C96 !important;
    }
  
    mercer-table > table > thead > tr > th > span {
      color:white;
      display: inline-block;
      padding: 0.8rem!important;
    }
    
    mercer-table > table > thead > tr > th > a {
      color:white;
      display: inline-block;
      padding: 0.6rem!important;
    }
  }

.button-panel {
    button{
        margin: 10px;
    }
}

.Capitalize
{ text-transform: capitalize }

.Caps
{ text-transform: uppercase}

#ecDataTable {
    thead {
        background-color: #00a8c8!important;
}
}

.ecdropdown {
    padding-left: 5px;
}

.preview-info-label {
    font-weight: bold;
    margin-right: 5px;
}

.preview-header-col {
  background-color: #8ab5db;
  font-weight: bold;
  border: black solid 2px;
}

.preview-paramname {
    margin: 0px;
    padding: 10px;
    border: black solid 2px;
    vertical-align: middle;
    font-weight: bold;
}

.preview-paramvalue {
    margin: 0px;
    padding: 2px;
    border: black solid 2px;
    text-align: center;
}

.preview-instruction {
    font-weight: bold;
    color: blue;
}

.preview-result {
    border: solid black;
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    background-color:#fffde9!important;
    width: 97%;
    margin-bottom: 10px;
}

.preview-result-success {
    color: #0064ff!important;
}

.preview-result-error {
    color: red!important;
}

