

    <ul class="accordion-menu animated">
        <li class="has-children">
            <a [routerLink]="['/nlp']">
                <input type="checkbox" name="group-1" id="group-1" [checked]="nlpmenu">
                <label for="group-1" [class]="nlpSelected">NLP</label>

                <ul>
                   <!--  <li>
                        <a [routerLink]="['/intent']">
                            <input type="checkbox" name="sub-group-1" id="sub-group-1">
                            <label for="sub-group-1">Text Analysis</label>
                        </a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/intentclassification']">
                            <input type="checkbox" name="sub-group-2" id="sub-group-2">
                            <label for="sub-group-2">Text Classification</label>
                        </a>
                    </li>
                    <li class="has-children">
                        <a href="">
                            <input type="checkbox" name="sub-group-3" id="sub-group-3">
                            <label for="sub-group-3">Model Assets</label>

                            <ul>
                                <li>
                                    <a href="">
                                        <input type="checkbox" name="sub-group-4" id="sub-group-4">
                                        <label for="sub-group-level-4">Entities</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <input type="checkbox" name="sub-group-5" id="sub-group-5">
                                        <label for="sub-group-level-5">Parts of Speech</label>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <input type="checkbox" name="sub-group-6" id="sub-group-6">
                                        <label for="sub-group-level-6">Word Dependency</label>
                                    </a>
                                </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </a>
        </li>

        <li>
            <a [routerLink]="['/intentfulfillment']" >
                <input type="checkbox" name="group-2" id="group-2" [checked]="intentffmenu">
                <label for="group-2" [class]="intentffSelected">Intent Fulfillment</label>
            </a>
        </li>

        <li>
            <a [routerLink]="['/enterpriseconnector']">
                <input type="checkbox" name="group-3" id="group-3" [checked]="ecmenu">
                <label for="group-3" [class]="ecSelected">Enterprise Connector</label>
            </a>
        </li>
    </ul>
