<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="soapapi.baseurl" placeholder="url" (change)="valuechanged()">
        <label for="baseurl">Base Url:</label>
    </div>
</div>
<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="soapapi.proxy" placeholder="Please mention proxy url (if needed)" (change)="valuechanged()">
        <label for="proxy">Proxy:</label>
    </div>
</div>
<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-6 mos-o-form-input-field">
        <label for="credentials">Credentials:</label>
    </div>
</div>
<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="soapapi.credentials.userid" placeholder="Enter User Id" (change)="valuechanged()">
        <label for="userid">Userid:</label>
    </div>
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="soapapi.credentials.password" placeholder="Enter Password" (change)="valuechanged()">
        <label for="password">Password:</label>
    </div>
</div>