<div *ngIf="mongodbSource">
    <div class="row mos-o-form-row">
        <div class="small-12 columns mos-o-form-input-field">
            <input id="collectionname" type="text" name="collectionname" placeholder="Collection Name" title="" [(ngModel)]="mongodbSource.collection" (change)="valuechange($event)">
            <label for="collectionname">Collection Name:</label>
        </div>
    </div>
    <div class="row mos-o-form-row">
        <div class="small-12 columns mos-o-form-input-field">
            <textarea class="mos-u-resize--vertical" id="collectionfilter" type="text" name="collectionfilter" placeholder="Please enter filter condition as object (if any)" title="" [(ngModel)]="mongodbSource.filtercriteria"  (change)="valuechange($event)"></textarea>
            <label for="collectionfilter">Filter Condition:</label>
        </div>
    </div>
  </div>  