<div class="row main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg"
  item-width="100%">

  <div class="small-15 columns mos-u-float-right mos-u-spacer--margin-bottom-md main-panel">
    <div class="row">
      <!-- <div class="small-15 columns mos-u-float-right mos-u-spacer--margin-bottom-md"> -->
      <!-- <div class="small-9 medium-6 columns navigationMain"> -->
      <app-breadcrumb [childUrl]="childMessage" [isTrained]="this.isTrained"></app-breadcrumb>
      <!-- </div> -->
      <!-- <div class="small-3 medium-3 columns navBtn">
        <button mercer-button type="button" expandedOn="small" (click)="trainModel()">Train Model</button>
      </div>
      <div class="small-3 medium-3 columns navBtn">
        <button mercer-button type="button" expandedOn="small" (click)="testModel()">Test Model</button>
      </div> -->
    </div>

    <!-- <div class="small-12 columns">
      <app-intentanalysis [hideIntent]="modelExists"></app-intentanalysis>
    </div> -->
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
      <!-- <h3>Text Classification</h3> -->
      <h3 style="margin-top:-20px;margin-bottom:5px;">
        <fieldset>
          <ul class="mos-o-form-list-inline headingBar">
            <li class="small-8 columns">
              <span style="font-size: 1rem !important;">Intent Classification</span>
            </li>
            <li class="small-4 columns">
              <button mercer-icon-button type="button" icon="add_circle" (click)="infoExample.open()">Create New Intent</button>
            </li>
          </ul>
        </fieldset>
      </h3>

      <div class="row align-middle mos-u-spacer--margin-bottom-lg">
        <div class="columns small-5">
          <!-- <button mercer-button type="button" expandedOn="small" (click)="infoExample.open()">Create New Category</button> -->
          <mercer-modal #infoExample escapable="true" iconType="error" [backdropCloses]="false">
            <mercer-modal-header>
              <h3>Create New Intent</h3>
            </mercer-modal-header>
            <mercer-modal-content>
              <table>
                <tr>
                  <td>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.CategoryName.valid }">
                      <label for="model.CategoryName">
                      <b>Intent Name</b>
                    </label>
                      <input type="text" class="form-control" name="CategoryName" [(ngModel)]="this.model.CategoryName" #IntentName="ngModel" required
                      />
                      <div *ngIf="f.submitted && !model.CategoryName.valid" class="help-block">Intent Name is required</div>
                    </div>

                  </td>
                </tr>
                <tr>
                  <td>
                    <button mercer-button type="button" (click)="SaveIntent(infoExample)">Done</button>
                    <button mercer-button type="button" [flat]="true" (click)="infoExample.close()">Cancel</button>
                  </td>
                </tr>
                <tr>
                  <td style="color: red"> {{this.errorMessage}}</td>
                </tr>
              </table>
            </mercer-modal-content>
          </mercer-modal>
        </div>

      </div>
      <mercer-table [striped]="true" [headers]="stripedheaderData" [rows]="stripedrowData">
        <ng-template mercer-table-row let-row="row">
          <td>
            <a (click)="navigatetoAddUtterances(row.CategoryName)">{{row.CategoryName}}</a>
          </td>
          <td>{{row.UtterancesCount || 0}}</td>
          <td>
            <div class="mos-u-display--inline-block" *ngIf="row.CategoryName!=='none'">
              <button mercer-icon-button type="button" icon="delete" alt="delete" (click)="infoExample.open()"></button>

              <mercer-modal #infoExample escapable="true" size="sm" iconType="error" [showHeader]="false" alternativeTitle="Delete Category - {{row.CategoryName}}"
                theme="alert">
                <!-- <mercer-modal-header>
                  <h3>Delete Category - {{row.CategoryName}}</h3>
                </mercer-modal-header> -->
                <mercer-modal-content contentMaxHeight="400">
                  <p>Are you sure you want to delete this category and all its entities and utterances? </p>
                </mercer-modal-content>
                <mercer-modal-footer>
                  <div class="row align-right is-collapse-child mos-c-modal__actions">
                    <div>
                      <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="infoExample.close()">No</button>
                    </div>
                    <div>
                      <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="deleteCategory(row._id, infoExample)">Yes</button>
                    </div>
                  </div>
                </mercer-modal-footer>
              </mercer-modal>
            </div>
            <div class="mos-u-display--inline-block">
              <button mercer-icon-button type="button" icon="mode_edit" alt="edit" (click)="navigatetoAddUtterances(row.CategoryName)"></button>
            </div>
            <!-- <a href="">Edit</a>  &nbsp; <a href="">Delete</a> -->
          </td>
        </ng-template>
      </mercer-table>

      <mercer-pagination (paginationInfoRequest)="updatePage($event)" [paginationInfo]="paginationInfo" [showLimitOptions]="true"></mercer-pagination>
    </form>
  </div>
</div>