<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="mongodb.url" (change)="valuechanged()">
        <label for="url">URL:</label>
    </div>
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="mongodb.dbname" (change)="valuechanged()">
        <label for="dbname">Database Name:</label>
    </div>
</div>
<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="mongodb.user" (change)="valuechanged()">
        <label for="user">Username:</label>
    </div>
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="mongodb.password" (change)="valuechanged()">
        <label for="password">Password:</label>
    </div>
</div>