<mercer-header >

  <!--<mercer-header-menu-trigger>
    <a (click)="headerSideNav.open()">
      <mercer-icon icon="menu" size="xlg" alt="Menu"></mercer-icon>
    </a>
  </mercer-header-menu-trigger>-->

  <!--<mercer-header-logo>
    <a href="#"><img class="mos-u-responsive-img" src="{{mosConfig.assetUrl}}img/logos/mercer/mercer_logo_rgb.png" alt="Mercer"></a>
  </mercer-header-logo>-->

   <mercer-header-title>
    <h3>MERCEROS Platform AI/ML Framework</h3>
  </mercer-header-title> 

  <!-- <div *ngIf="(this.isAuthenticated)"> -->
  
  <mercer-header-dropdown-account>
    <!-- <mercer-header-links class="show-for-large">
      <ul class="row collapse mos-c-header__menu">
        <li class="columns shrink">
          <a href="#">{{ "Header.FundListing" }}</a>
        </li>
        <li class="columns shrink">
          <a [routerLink]="['/aboutmercerfundwatch']" target="_blank">{{"Common.AboutMercerFundWatch"  }}</a>
        </li>
        <li class="columns shrink">
          <a (click)="OpenPdf('Common.guidetoratings_pdf')">  {{"Common.GuidetoRatings" }}</a>
        </li>
      </ul>
    </mercer-header-links> -->

    <mercer-dropdown position="right">
      <mercer-dropdown-label>
        <a>
          <mercer-avatar theme="primary-alt" [dropdownIcon]="true">{{userAvatar}}</mercer-avatar>
        </a>
      </mercer-dropdown-label>
      <mercer-dropdown-item>
        <mercer-hcard [left]="false" [right]="false">
          <mercer-hcard-left>
          </mercer-hcard-left>
          <mercer-hcard-center>
            <div class="vcard">
              <h3 class="mos-c-hcard--fn fn">{{userFullName}}</h3>
              <div class="mos-c-hcard__group">
                <h5 class="mos-c-hcard--org org">{{userEmail}}</h5>
              </div>
            </div>
            <!-- <section class="stayKnow">
              <p>
                {{'FundList.ReceiveEmailFundUpdate' }}
                <span>
                  <input type="checkbox" id="unchecked" [checked]="IsSubscribed" class="cbx hidden" (change)="processSubscription()" />
                  <label for="unchecked" class="lbl"></label>
                </span>
              </p>
            </section> -->
          </mercer-hcard-center>
          <mercer-hcard-right>
          </mercer-hcard-right>
        </mercer-hcard>
      </mercer-dropdown-item>

      <mercer-dropdown-item>
        <a (click)="doLogout()">Sign Out</a>
      </mercer-dropdown-item>
    </mercer-dropdown>
  </mercer-header-dropdown-account>
  <!-- </div> -->

  <!-- <mercer-header-logged-out *ngIf="!isAuthenticated()"> -->
  <!-- <div *ngIf="!(this.loggedInUser==null)"> -->
  <mercer-header-logged-out>
    <!-- <a  (click)="doLogin()">{{'Header.SignIn'}}</a> -->
    <a [routerLink]="['/']" class="btn btn-link">Welcome Rick</a>
  </mercer-header-logged-out>
  <!-- </div> -->
  
</mercer-header>

<mercer-side-nav #headerSideNav>
  <mercer-side-nav-logo>
    <a href="#/">
          <img class="mos-u-responsive-img" src="{{mosConfig.assetUrl}}img/logos/mercer/mercer_logo_rgb.png" alt="Mercer">
        </a>
  </mercer-side-nav-logo>
  <mercer-side-nav-group groupTitle="Main Menu">
    <!-- link has the same interface as `routerLink` -->
    <mercer-side-nav-group-item icon="view_list" itemTitle="Fund Listings" link="" [active]="true">
    </mercer-side-nav-group-item>
    <!-- can pass urls with `//`, will be parsed as external -->
    <mercer-side-nav-group-item icon="info_outline" itemTitle="About Fund Watch" link="">
    </mercer-side-nav-group-item>
    <mercer-side-nav-group-item icon="description" itemTitle="Guide to Ratings" link="">
    </mercer-side-nav-group-item>
  </mercer-side-nav-group>
  <!-- <mercer-side-nav-group groupTitle="Resources">
    <mercer-side-nav-group-item icon="store_mall_directory" itemTitle="User Manual" link="#">
    </mercer-side-nav-group-item>
    <mercer-side-nav-group-item icon="thumbs_up_down" itemTitle="Assisted Job Match" link="#">
    </mercer-side-nav-group-item>
  </mercer-side-nav-group> -->
</mercer-side-nav>

<!-- ENHANCE HEADER - AUTHENTICATED - ENDS -->