<div style="background-color: white;border-color: black">
    <div class="row" style="background-color: white;border-color: black">
        <div class="small-10 columns">
            <h4>Utterance</h4>
        </div>
        <div class="small-2 columns"></div>
    </div>
    <div class="row" style="background-color: white" item-width="1000px">
        <div class="small-8 columns">
            <input type="text" item-width="900px" [(ngModel)]="model.inputIntent" name="utteranceText">
        </div>
        <div class="small-3 columns mos-o-form-input-field">
            <mos-multi-select [(ngModel)]="model.foods" name="foods" canSelectAll=true placeHolder="Response Options">
                <mos-multi-option value="Intents">Intents</mos-multi-option>
                <mos-multi-option value="Entities">Entities</mos-multi-option>
                <mos-multi-option value="POS">POS</mos-multi-option>
                <mos-multi-option value="Intent Tree">Intent Tree</mos-multi-option>

            </mos-multi-select>
        </div>
        <div class="small-1 columns">
            <button mercer-button type="button" (click)="getIntents()" expandedOn="small">Analyze</button>
        </div>
    </div>
</div>