<!-- <project-header></project-header> -->
<div class="row main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
  <!-- <div class="columns side-nav">
      <ul class="accordion-menu animated">
      <li class="has-children">
        <a href=""><input type="checkbox" name ="group-1" id="group-1" checked>
        <label for="group-1" class="selected">NLP</label>

            <ul>
              <li>
               <a href=""> <input type="checkbox" name ="sub-group-1" id="sub-group-1">
                <label for="sub-group-1">Text Analysis</label></a>
              </li>
              <li>
                <a href=""><input type="checkbox" name ="sub-group-2" id="sub-group-2">
                <label for="sub-group-2">Text Classification</label></a>
              </li>
              <li class="has-children">
                <a href=""><input type="checkbox" name ="sub-group-3" id="sub-group-3">
                <label for="sub-group-3">Model Assets</label>

                <ul>
                  <li>
                    <a href=""><input type="checkbox" name ="sub-group-4" id="sub-group-4"><label for="sub-group-level-4">Entities</label></a>
                  </li>
                  <li>
                    <a href=""><input type="checkbox" name ="sub-group-5" id="sub-group-5"><label for="sub-group-level-5">Parts of Speech</label></a>
                  </li>
                  <li>
                    <a href=""><input type="checkbox" name ="sub-group-6" id="sub-group-6"><label for="sub-group-level-6">Word Dependency</label></a>
                  </li>
                </ul>
                </a>
              </li>
            </ul>
            </a>
        </li>

        <li>
          <a href=""><input type="checkbox" name ="group-2" id="group-2">
          <label for="group-2">Intent Fulfillment</label></a>
        </li>

        <li>
          <a href=""><input type="checkbox" name ="group-3" id="group-3">
          <label for="group-3">Enterprise Connector</label></a>
        </li>
      </ul> 

  </div> -->
  <div class="columns mos-u-spacer--margin-bottom-md main-panel">
    <h3 style="margin-top:-20px;margin-bottom:5px;">
      <fieldset>
        <ul class="mos-o-form-list-inline headingBar">
          <li class="small-8 columns">
            <span style="font-size: 1rem !important;">Project Catalog</span>
          </li>
          <li class="small-4 columns">
            <button mercer-icon-button type="button" icon="add_circle" (click)="goToCreateProject()">Create New Language Model</button>
          </li>
        </ul>
      </fieldset>
    </h3>

    <div class="row align-middle mos-u-spacer--margin-bottom-lg">
      <!-- <div class="columns small-7">
        <button mercer-button type="button" expandedOn="small" (click)="goToCreateProject()">Create New Project</button>
      </div> -->
      <div class="columns small-12">
        <div class="row mos-o-form-row">
          <div class="columns small-6">&nbsp;</div>
          <div class="small-6 columns mos-o-form-input-field search-area">
            <div class="small-1 mos-u-float-left">
              <mercer-icon icon="search" size="xxlg"></mercer-icon>
            </div>
            <div class="small-11 mos-u-float-right">
              <input id="search-text" type="text" name="search-text" mercerInput #searchText [animatedInput]="true" cdkAutofill title=""
                required (input)="searchProjects(searchText.value)">
              <label for="search-text" data-mos-hint-text="Type 5 or more characters)" data-mos-invalid-text="" data-mos-valid-text="">Search Projects</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <mercer-table [striped]="true" [headers]="headers" [rows]="filteredProjects" [responsive]="true">
      <ng-template mercer-table-row let-row="row">
        <td width="15%">
          <div *ngIf="row.clickable === true && (row.nlp || row.intentfulfillment)">
            <a (click)="goToNext(row._id, row.name, row.nlp, row.intentfulfillment, row.enterpriseconnector, row.nlpmodel_id, row.domain_models)">{{row.name}}</a>
          </div>

          <div *ngIf="row.clickable === true && row.nlp === false && row.intentfulfillment === false">{{row.name}}</div>
          <div *ngIf="row.clickable === false">{{row.name}}</div>
        </td>

        <td width="10%">{{row.category}} </td>
        <td width="45%">{{row.description}} </td>
        <td width="10%"><button mercer-icon-button type="button" icon="{{row.nlp ? 'check':'close'}}" alt="{{row.nlp}}"></button></td>
        <td width="10%"><button mercer-icon-button type="button" icon="{{row.intentfulfillment ? 'check':'close'}}" alt="{{row.intentfulfillment}}"></button></td>
        <!-- <td><button mercer-icon-button type="button" icon="{{row.enterpriseconnector ? 'check':'close'}}" alt="{{row.enterpriseconnector}}"></button></td> -->
        <!-- <td><div [innerHTML]="row.actions"></div></td> -->
        <td width="10%">
          <div class="mos-u-display--inline-block">
            <button mercer-icon-button type="button" icon="mode_edit" alt="Edit" (click)="edit(row._id,row.name, row.category,row.description)"></button>
          </div>
          <div class="mos-u-display--inline-block">
            <button mercer-icon-button type="button" icon="delete" alt="delete" (click)="confirmDialog.open()"></button>

            <mercer-modal #confirmDialog escapable="true" size="sm" iconType="error" [showHeader]="false" alternativeTitle="Delete Project - {{row.name}}"
              theme="alert">

              <mercer-modal-content contentMaxHeight="400">
                <p>Are you sure you want to delete this project?</p>
              </mercer-modal-content>
              <mercer-modal-footer>
                <div class="row align-right is-collapse-child mos-c-modal__actions">
                  <div>
                    <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="confirmDialog.close()">No</button>
                  </div>
                  <div>
                    <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="deleteProject(row._id, row.name, confirmDialog)">Yes</button>
                  </div>
                </div>
              </mercer-modal-footer>
            </mercer-modal>
          </div>
          <!-- <div class="mos-u-display--inline-block">
            <button mercer-icon-button type="button" icon="queue_play_next" alt="next" (click)="goToNext(row._id, row.name, row.nlp, row.intentfulfillment, row.enterpriseconnector, row.nlpmodel_id, row.domain_models)"></button>
          </div> -->
        </td>
        <!-- <td><div>{{row.actions}}</div></td> -->
      </ng-template>
    </mercer-table>
  </div>
</div>