<div *ngIf="soapapiSource">
    <div class="row mos-o-form-row">
        <div class="small-12 columns mos-o-form-input-field">
            <input id="soapurl" type="text" name="soapurl" placeholder="Please enter relative URL of method" title="" [(ngModel)]="soapapiSource.url" (change)="valuechange($event)">
            <label for="soapurl">URL:</label>
        </div>
    </div>
    <div class="row mos-o-form-row">
        <div class="small-12 columns mos-o-form-input-field">
            <input id="soapmethodname" type="text" name="soapmethodname" placeholder="SOAP Methodname to invoke" title="" [(ngModel)]="soapapiSource.methodname" (change)="valuechange($event)">
            <label for="soapmethodname">Method Name:</label>
        </div>
    </div>
    <div class="row mos-o-form-row">
        <div class="small-12 columns mos-o-form-input-field">
            <textarea class="mos-u-resize--vertical" id="soapmethodargs" name="soapmethodargs"  placeholder="Please enter method arguments as object (if any)" title="" [(ngModel)]="argumentsAsString"  (change)="valuechange($event)"></textarea>
            <label for="soapmethodargs">Arguments:</label>
        </div>
    </div>
  </div>  