<form data-toggle="validator" role="form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Add / Edit Models</h3>
        </div>

        <div class="panel-body">
            <!--<form role="form">-->
            <div class="row">
                <div class="form-group col-md-6">
                    <!--<div class="form-group col-xs-2">-->
                    <label for="eventName" class="label-control">Event Type Name</label>
                    <input type="text" name="eventName" class="form-control input-sm" [(ngModel)]="eventName" required/>
                </div>
                <!--<div class="form-group col-md-4">
                    <label for="eventType">Event Type</label>
                    <input type="text" class="form-control input-sm" [(ngModel)]="eventType" name="eventType" required>
                </div>-->

                <div class="form-group col-md-6">
                    <label for="eventDesc" class="label-control">Event Type Desription</label>
                    <input type="text" name="eventDesc" class="form-control input-sm" [(ngModel)]="eventDesc" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label for="eventPayload" class="label-control">Event Type Body</label>
                    <textarea name="eventPayload" class="form-control input-lg" rows="5" [(ngModel)]="eventPayload"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn-md" (click)="saveEventsMasterInfo()"><span class="glyphicon glyphicon-save"></span>&nbsp;Add</button>&nbsp;
                    <button class="btn btn-primary btn-md" (click)="clearFields()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Clear</button>&nbsp;
                </div>
            </div>
            <!--</form>-->
        </div>
    </div>
</form>

<div class="container-fluid">
    <div class="panel panel-error" *ngIf="errorMessage">
        <div class="panel-heading">Error occured</div>
        <div class="panel-body">{{errorMessage}}</div>
    </div>
</div>

<div class="panel panel-primary" *ngIf="eventMasterList">
    <div class="panel-heading">
        <h3 class="panel-title">Events Type Master</h3>
    </div>

    <div class="panel-body">
        <div class="row">
            <table class="table table-striped table-hover" width="70%">
                <thead>
                    <tr>
                        <th style="width: 25%">Name</th>
                        <!--<th style="width: 15%">Type</th>-->
                        <th style="width: 35%">Description</th>
                        <th style="width: 20%">Payload</th>
                        <th style="width: 20%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of eventMasterList;let rowIndex = index">
                        <td>{{item.EventName}}</td>
                        <!--<td>{{item.type}}</td>-->
                        <td>{{item.EventDesc}}</td>
                        <td>
                            <span style="display:none">{{item._id}}</span>
                            <!--<span>{{item.id}}</span>-->
                            <button type="button" class="btn btn-default btn-md btn-info" (click)="modal.show()"><span class="glyphicon glyphicon-th"></span>&nbsp;Details</button>
                            <app-modal #modal>
                                <div class="app-modal-header">Payload Details</div>
                                <div class="app-modal-body">
                                    <div id="elementTree{{rowIndex}}"></div>
                                    <span id="treeSource{{rowIndex}}" style="display:none">{{item.EventStr}}</span>
                                    <!--<pre id="default-spacing">{{item.EventStr}}</pre>-->
                                </div>
                                <div class="app-modal-footer">
                                    <button type="button" class="btn btn-default btn-primary" (click)="modal.hide()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</button>
                                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                                </div>
                            </app-modal>
                        </td>
                        <td>
                            <button (click)="editInfo(item)" type="button" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit</button>
                            <!--&nbsp;
                            <button type="button" class="btn btn-primary btn-error">Delete</button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>