<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-12 mos-o-form-input-field">
        <textarea class="mos-u-resize--vertical" id="connectiondtl" name="connectiondtl" placeholder="Please enter connection detail as an JSON Object" title="" 
                [(ngModel)]="jsonString"  (change)="valuechanged($event)"></textarea>
        <label for="connectiondtl">JSON Object:</label>
    </div>
</div>
