<!-- <mercer-model-header></mercer-model-header> -->
<div class="row main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
  <div class="columns side-nav">
      <ul class="accordion-menu animated">
      <li class="has-children">
        <a [routerLink]="['/nlp']"><input type="checkbox" name ="group-1" id="group-1" checked>
        <label for="group-1">NLP</label>
            <ul>
              <li>
               <a href=""> <input type="checkbox" name ="sub-group-1" id="sub-group-1">
                <label for="sub-group-1">Text Analysis</label></a>
              </li>
              <li>
                <a href=""><input type="checkbox" name ="sub-group-2" id="sub-group-2">
                <label for="sub-group-2">Text Classification</label></a>
              </li>
              <li class="has-children">
                <a href=""><input type="checkbox" name ="sub-group-3" id="sub-group-3">
                <label for="sub-group-3">Model Assets</label>

                <ul>
                  <li>
                    <a href=""><input type="checkbox" name ="sub-group-4" id="sub-group-4"><label for="sub-group-level-4">Entities</label></a>
                  </li>
                  <li>
                    <a href=""><input type="checkbox" name ="sub-group-5" id="sub-group-5"><label for="sub-group-level-5">Parts of Speech</label></a>
                  </li>
                  <li>
                    <a href=""><input type="checkbox" name ="sub-group-6" id="sub-group-6"><label for="sub-group-level-6">Word Dependency</label></a>
                  </li>
                </ul>
                </a>
              </li>
            </ul>
            </a>
        </li>

        <li>
          <a  [routerLink]="['/intentfulfillment']"><input type="checkbox" name ="group-2" id="group-2">
          <label for="group-2" class="selected">Intent Fulfillment</label></a>
        </li>

        <li>
          <a [routerLink]="['/enterpriseconnector']"><input type="checkbox" name ="group-3" id="group-3">
          <label for="group-3">Enterprise Connector</label></a>
        </li>
      </ul> 

  </div>
  <div class="columns mos-u-spacer--margin-bottom-md main-panel">
    <h3>Model Dashborad</h3>
    <div class="row align-middle mos-u-spacer--margin-bottom-lg">
      <div class="columns small-12 mos-o-form-input-field">
        <textarea class="mos-u-resize--vertical ng-pristine ng-touched ng-invalid" id="basicFormSuggestions" name="basicFormSuggestions"
          required="" title=""></textarea>
        <label for="basicFormSuggestions">Utterance/Text</label>
        <div class="column small-4 mos-u-float-right">
          <button mercer-button type="button" class="buttons-width">Analyze</button>
        </div>
      </div>
      <div class="columns small-12 mos-u-spacer--margin-top-lg dashboard-table">
        <mercer-tab-group theme="alert" borderTheme="alert" activeTheme="alert">

          <!--.................1ST TAB STARTS............... -->
          <mercer-tab>
            <ng-template mercer-tab-label>
              Entities
            </ng-template>
            <mercer-tab-content>
              <mercer-table [striped]="true" [headers]="stripedheaderData" [rows]="stripedrowData" [bordered]="true" [rowHighlight]="true"
                [responsive]="true">
                <ng-template mercer-table-row let-row="row">
                  <td>
                    {{row.org}}
                  </td>
                </ng-template>
              </mercer-table>
              <mercer-table [striped]="true" [headers]="stripedheaderData1" [rows]="stripedrowData1" [bordered]="true" [rowHighlight]="true"
                [responsive]="true">
                <ng-template mercer-table-row let-row="row">
                  <td>
                    {{row.person}}
                  </td>
                </ng-template>
              </mercer-table>
              <mercer-table [striped]="true" [headers]="stripedheaderData2" [rows]="stripedrowData2" [bordered]="true" [rowHighlight]="true"
                [responsive]="true">
                <ng-template mercer-table-row let-row="row">
                  <td>
                    {{row.location}}
                  </td>
                </ng-template>
              </mercer-table>
              <mercer-table [striped]="true" [headers]="stripedheaderData3" [rows]="stripedrowData3" [bordered]="true" [rowHighlight]="true"
                [responsive]="true">
                <ng-template mercer-table-row let-row="row">
                  <td>
                    {{row.event}}
                  </td>
                </ng-template>
              </mercer-table>
            </mercer-tab-content>
          </mercer-tab>
          <!--.................1ST TAB ENDS............... -->

          <!--.................2ND TAB STARTS............... -->
          <mercer-tab>
            <ng-template mercer-tab-label>
              Sentiment
            </ng-template>
            <mercer-tab-content>
              <h4>Entire Text</h4>
              <p>Google, headequater in Mountain View, unveiled the new Android phone at the Consumer Electronic show.</p>
              <p>Lorem ipsum dolor sit emt lorem ipsum </p>
            </mercer-tab-content>
          </mercer-tab>
          <!--.................2ND TAB ENDS............... -->

          <!--.................3RD TAB STARTS............... -->
          <mercer-tab>
            <ng-template mercer-tab-label>
              Syntax
            </ng-template>
            <mercer-tab-content>
              <div class="row">
                <div class="small-7 columns">
                  <div class="divTable">
                    <div class="headRow">
                      <div class="divCell">Customer ID</div>
                    </div>
                    <div class="divRow">
                      <div class="divCell">001</div>
                    </div>
                  </div>
                  <div class="divTable">
                    <div class="headRow">
                      <div class="divCell">Customer ID</div>
                    </div>
                    <div class="divRow">
                      <div class="divCell">001</div>
                    </div>
                  </div>
                  <div class="divTable">
                    <div class="headRow">
                      <div class="divCell">Customer ID</div>
                    </div>
                    <div class="divRow">
                      <div class="divCell">001</div>
                    </div>
                  </div>
                  <div class="divTable">
                    <div class="headRow">
                      <div class="divCell">Customer ID</div>
                    </div>
                    <div class="divRow">
                      <div class="divCell">001</div>
                    </div>
                  </div>
                </div>
                <div class="small-5 columns">
                  <p>Intent Tree</p>
                  <div class="placeholder"></div>
                </div>
              </div>
            </mercer-tab-content>
          </mercer-tab>
          <!--.................3RD TAB ENDS............... -->

          <!--.................4TH TAB STARTS............... -->
          <mercer-tab>
            <ng-template mercer-tab-label>
              Categories
            </ng-template>
            <mercer-tab-content>
              <mercer-table [striped]="true" [headers]="stripedheaderData4" [rows]="stripedrowData4" [bordered]="true" [rowHighlight]="true"
                [responsive]="true">
                <ng-template mercer-table-row let-row="row">
                  <td>
                    {{row.leavepolicy}}
                  </td>
                </ng-template>
              </mercer-table>
              <mercer-table [striped]="true" [headers]="stripedheaderData5" [rows]="stripedrowData5" [bordered]="true" [rowHighlight]="true"
                [responsive]="true">
                <ng-template mercer-table-row let-row="row">
                  <td>
                    {{row.personality}}
                  </td>
                </ng-template>
              </mercer-table>
              <mercer-table [striped]="true" [headers]="stripedheaderData6" [rows]="stripedrowData6" [bordered]="true" [rowHighlight]="true"
                [responsive]="true">
                <ng-template mercer-table-row let-row="row">
                  <td>
                    {{row.sick}}
                  </td>
                </ng-template>
              </mercer-table>
              <mercer-table [striped]="true" [headers]="stripedheaderData7" [rows]="stripedrowData7" [bordered]="true" [rowHighlight]="true"
                [responsive]="true">
                <ng-template mercer-table-row let-row="row">
                  <td>
                    {{row.vacation}}
                  </td>
                </ng-template>
              </mercer-table>
            </mercer-tab-content>
          </mercer-tab>
          <!--.................4TH TAB ENDS............... -->

          <!--.................5TH TAB STARTS............... -->
          <mercer-tab>
            <ng-template mercer-tab-label>
              Context
            </ng-template>
            <mercer-tab-content>
              <textarea class="mos-u-resize--vertical ng-pristine ng-touched ng-invalid" id="basicFormSuggestions" name="basicFormSuggestions"
                required="" title=""></textarea>
            </mercer-tab-content>
          </mercer-tab>
          <!--.................5TH TAB STARTS............... -->

        </mercer-tab-group>
      </div>
    </div>
  </div>
</div>