/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */

@import 'project.config';
@import 'merceros-ui-core/scss/merceros-ui-core';
@import 'merceros-ui-components/scss/components';

body{
	background-color: #002b4b;
    // background-image: url(../../node_modules/merceros-ui-assets/mercer-assets/img/sample-bg.jpg);
    background-image: url(./assets/images/background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100vh;
    background-attachment: fixed;
    font-size:0.9rem;
}

footer{	

    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:8em;
    margin-bottom:0px;
    width:100vw;
    background: #fafafa;
}
.main-panel{
	border-radius: .5rem;
    border-width: 0;
    background-color: #FFF;
    padding: 25px 20px;
    box-shadow:0 3px 5px 0 rgba(10, 10, 10, 0.25);
    margin:0 10px 0px 15px;

      overflow-y: auto;
      height: 630px;

    h3{
    	color:#002c77;
    	border-bottom:1px solid #cccccc;
    	margin-bottom:10px;
      font-size:1.1rem !important;
    }
    h4{
      font-size:1rem !important;
    }
}
.mos-c-footer__coop-section{
	display:none !important;
}
.mos-c-footer__header{
  padding:20px 0px !important; 
}

.mos-c-footer__content-link-section{
	padding-bottom:20px;
}
.buttons-width{
	width:100%;
}
mercer-header-title{
	h3{
		margin-top:15px;
		margin-left:10px;
		color:#005C96
	}
}

.header-area-bot{
      min-height: 80px;
    background-color: rgba(235, 240, 245, 0.92) !important;
    padding: 20px;
    color:#005C96;
    border-top:1px solid #005C96;
}
.search-area{
	border: 1px solid #cccccc;
    background: #f0f0f0;
    max-width: 251px;
    mercer-icon{
    	position:absolute;
    	top:20px;
    	background: #cccccc;
    	border-radius: 50%;
    }
}

.mos-c-header li > a{
  font-size:1rem !important;
}

/*Create New Project*/

.create-area{
	fieldset{
		width:100%;

		ul{
			margin:0px 10px;

			.create-sub-area1{
				margin: 15px 10px 30px 33px;
			    border: 1px solid #cccccc;
			    padding: 15px 20px;
			    width: 94%;
			    background:#f0f0f0;
			}
		}
	}
}
.dropdown-option{
	.mos-c-dropdown{
	padding: 10px;
    min-width: 300px !important;
    }
}

.format-ul{
	margin: 15px 10px 0px 33px !important;
    border: 1px solid #c0c0c0;
    height: 145px;
    overflow-y: scroll;
    background:#fafafa;

    .format-list{
    	border-bottom: 1px solid #c0c0c0;
	    padding:10px;
    }
    .last{
    	border-bottom:0px;
    }
    .first{
    	background:#c0c0c0;
    }
}

#textArea1{
	margin:0px;
}
.test-button-div{
	top:25px;
	#test-button{
		width:100%;
	}
}

.main-container{
    max-width:100rem !important;

    label{
        font-size:1rem !important;
    }
}
.side-nav {
    background-color: #005C96;
    opacity:.8;
    border-radius:4px;
    color:#fff;
    font-size:20px;
    list-style-type:none;
    padding-top:20px;
    margin-left:10px;
    max-width:315px !important;

    ul{
        font-size:20px;
        list-style-type:none;
        margin-left:0;

        li{

            a{
                color:#fff;
                text-decoration:none;
            }
            a:hover{
                color:#fff;
                text-decoration:none;
            }
        }
    }

}

.accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
}
.accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px dotted;
}
.accordion-menu li:last-child {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: none;
}
.accordion-menu input[type=checkbox] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.accordion-menu a label, .accordion-menu a {
  position: relative;
  display: block;
  color: #ffffff;
}
.no-touch .accordion-menu a label:hover, .no-touch .accordion-menu a:hover {
  background: #52565d;
}
.accordion-menu a:hover {
    background: #113851;
}

.accordion-menu a label.selected {
    background: #113851;
}
.accordion-menu a label::before, .accordion-menu a label::after, .accordion-menu a::after {
  /* icons */
  display: inline-block !important;
  width: 16px !important;
  height: 16px !important;
  position: absolute !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
  -moz-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  -o-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  border:none !important; 
}
.accordion-menu a label {
  cursor: pointer;
}
.accordion-menu a label::before, .accordion-menu a label::after {
  // background-image: url(../../node_modules/merceros-ui-assets/mercer-assets/svg/svg-defs.svg);
  background: url(./assets/svg/cd-icons.svg) no-repeat -48px 0; 
  background-repeat: no-repeat;
}
.accordion-menu a label::before {
  /* arrow icon */
  left: 18px !important;
  background-position: 0 0 !important;
  -webkit-transform: translateY(-50%) rotate(-90deg) !important;
  -moz-transform: translateY(-50%) rotate(-90deg) !important;
  -ms-transform: translateY(-50%) rotate(-90deg) !important;
  -o-transform: translateY(-50%) rotate(-90deg) !important;
  transform: translateY(-50%) rotate(-90deg) !important;
  transform-origin: center !important;
}
.accordion-menu a label::after {
  /* folder icons */
  left: 45px !important;
  background-position: -16px 0;
}
.accordion-menu a::after {
  /* image icon */
  left: 36px !important;
  // background: url(../../node_modules/merceros-ui-assets/mercer-assets/svg/svg-defs.svg) no-repeat -48px 0;
  background: url(./assets/svg/cd-icons.svg) no-repeat -48px 0;
}
.accordion-menu a input[type=checkbox]:checked + label::before {
  /* rotate arrow */
  -webkit-transform: translateY(-50%) !important;
  -moz-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  -o-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}
.accordion-menu a input[type=checkbox]:checked + label::after {
  /* show open folder icon if item is checked */
  background-position: -32px 0 !important;
  background-color:transparent;
}
.accordion-menu a input[type=checkbox]:checked + label + ul,
.accordion-menu a input[type=checkbox]:checked + label:nth-of-type(n) + ul {
  /* use label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
  /* show children when item is checked */
  display: block;
}
.no-touch .accordion-menu ul a label:hover, .no-touch
.accordion-menu ul a:hover {
  background: #3c3f45;
}
.accordion-menu ul label::before {
  left: 45px !important;
}
.accordion-menu ul label::after {
  left: 70px !important;
}
.accordion-menu ul label {
  padding: 10px 0;
  background: #044a76 !important;
}
.accordion-menu ul label.selected {
  background: #023656 !important;
}
.accordion-menu ul ul label {
  padding: 15px 0;
  background: #053a5b !important;
  margin: 0;
}
.accordion-menu ul ul label:hover,
.accordion-menu ul ul a:hover {
  background: #11496c !important;
}
.accordion-menu ul ul label.selected {
  background: #11496c !important;
}
.accordion-menu ul ul label::before {
  left: 70px !important;
}
.accordion-menu ul ul label::after,
.accordion-menu ul ul a::after {
  left: 95px !important;
}
@media only screen and (min-width: 600px) {
  .accordion-menu a label {
    padding: 15px 0px 15px 75px;
  }
  .accordion-menu a:hover {
    background: #113851;
  }
  .accordion-menu ul label{
    padding-left: 110px;
    background: #044a76 !important;
  }
  .accordion-menu ul label:hover,
  .accordion-menu ul a:hover {
    background: #023656 !important;
  }
  .accordion-menu ul ul a label:hover {
   background: #123348 !important;
}
  .accordion-menu ul label::before {
    left: 60px;
  }
  .accordion-menu ul label::after {
    left: 100px;
  }
  .accordion-menu ul ul label {
    padding-left: 130px;
  }
  .accordion-menu ul ul label::before {
    left: 72px;
  }
  .accordion-menu ul ul label::after,
  .accordion-menu ul ul a::after {
    left: 101px;
  }
  .accordion-menu ul ul ul label,
  .accordion-menu ul ul ul a {
    padding-left: 154px;
  }
  .accordion-menu ul ul ul label::before {
    left: 96px;
  }
  .accordion-menu ul ul ul label::after,
  .accordion-menu ul ul ul a::after {
    left: 125px;
  }
}


 @media (min-width: 0px) and (max-width: 600px) {
  .accordion-menu a label {
    padding: 15px 0px 15px 75px;
  }
  .accordion-menu a:hover {
    background: #113851;
  }
  .accordion-menu ul label{
    padding-left: 110px;
    background: #044a76 !important;
  }
  .accordion-menu ul label:hover,
  .accordion-menu ul a:hover {
    background: #023656 !important;
  }
  .accordion-menu ul ul a label:hover {
   background: #123348 !important;
}
  .accordion-menu ul label::before {
    left: 60px;
  }
  .accordion-menu ul label::after {
    left: 100px;
  }
  .accordion-menu ul ul label {
    padding-left: 130px;
  }
  .accordion-menu ul ul label::before {
    left: 72px;
  }
  .accordion-menu ul ul label::after,
  .accordion-menu ul ul a::after {
    left: 101px;
  }
  .accordion-menu ul ul ul label,
  .accordion-menu ul ul ul a {
    padding-left: 154px;
  }
  .accordion-menu ul ul ul label::before {
    left: 96px;
  }
  .accordion-menu ul ul ul label::after,
  .accordion-menu ul ul ul a::after {
    left: 125px;
  }
}
.accordion-menu.animated a label::before {
  /* this class is used if you're using jquery to animate the accordion */
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

/* SIDE NAV ENDS */


.mos-c-tabs--label{
    a{
        min-width:12.50rem !important;
    }
}
.mos-c-tabs--header{
    padding-bottom:20px !important;
}

.dashboard-table{
    .mos-c-table{
        border:1px solid #ccc;
        width:24%;
        float:left;
        margin:0 4px;
    }
}

.placeholder{
    background:#999;
    border:1px solid;
    height:100px;
}

.divTable{
    border:1px solid #ccc;
    margin-bottom:10px;

    .headRow{
        background: #ccc;
        padding:10px;
    }
    .divRow{
        padding:10px;
    }
}


.intent-icon-head{
  padding:5px;
  mercer-icon{
    .mos-c-icon{
      width: 25px;
    height: 28px;
    color: #fff;
    background: red;
    border-radius: 50%;
    margin-left: 10px;
    }
  }
}

.intent-model-box, .intent-map-box{
  border: 1px solid #c0c0c0;
    background: #f0f0f0;
}
.intent-model-box{
  margin:0px 20px;
}

/*Enterprise Connector*/

.enterprise-content{
  .mos-c-tabs--label{
      a{
          min-width:18.25rem !important;
      }
  }
    .mos-c-tabs--header{
        padding-bottom:20px !important;
    }
    textarea{
      min-height:auto;
    }
    .priority_btn{
      padding:0 50px;
    }
    .top-spacer-lg{
      margin-top:1rem !important;
    }
}

/* STOP BROWSER SCROLLING */

html, body {margin: 0; height: 100%; overflow: hidden}

/* Media query for mobile */
  @media (min-width: 0px) and (max-width: 767px) {

    html, body {margin: 0; height: 100%; overflow: auto;}
    .side-nav{
        float:none;
        flex:100%;
        max-width:100% !important;
        margin:0 20px;
    }
    .main-panel{
      float:none;
      flex:100%;
      max-width:100%;
      margin:20px;
      overflow:none;
      height:100%;
    }
  }       
     

  @media (min-width: 768px) and (max-width: 1024px) {

    html, body {margin: 0; height: 100%; overflow: auto;}
    .side-nav{
        float:none;
        flex:100%;
        max-width:100% !important;
        margin:0 20px;
    }
    .main-panel{
      float:none;
      flex:100%;
      max-width:100%;
      margin:20px;
      overflow:none;
      height:100%;
    }
  } 


.floatContaier{ overflow: hidden;}
  .floatLeftTag{ display: block !important; float: left !important;}
  .floatRightTag{ display: block !important; float: right !important;}
  .navigationContainer{ display: inline-block; width: 100%; padding-bottom: 12px;}
  .navigationMain{ float: left}
  .navBtn{ float: right;}
  .headingBar{ overflow: hidden;}
  .headingBar li{ float: left;}
  .headingBar li+li{ float: right;}
  .headingBar li .mos-c-icon-button mercer-icon{ color:#72ae4d;}
  .floatLeft{ display: block !important; float: left !important;}
  .BtnfloatLeft{ display: block !important; float: left !important; margin-top: -2px;}
  
  .thinview { display: inline-block; float:left; margin:5px 0 !important; width:94%;}
  
  td{ padding: 0.4rem 1rem !important;}
  html, body{ line-height: 1 !important;}
  .main-panel .row{ max-width: 100% !important;}
  .main-container .mos-u-spacer--margin-bottom-lg{ margin-bottom:15px;}
  .mos-u-spacer--margin-bottom-lg input[type=text]{ margin:1.5rem 0  0 0;}
  .displayInline{ display: inline-block; color: red; float:left; width:6%; margin-top:10px;}
  