.intent-implementation-container {
  margin-top: -25px !important;

  .mos-o-form-row {
    margin-bottom: 0.3rem;
    line-height: 0.3rem;

    label {
      font-size: 0.87rem !important;
    }
  }

  td,
  th {
    padding: 0.2rem;
  }

  .row {
    max-width: 100%;
    padding: 10px;
  }

  .mos-c-drawer {
    width: 500px!important;
   background-color: rgb(15, 57, 83); 
   color: white;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   font-size: 1rem!important;
   padding: 10px; 

  }

  .enterprise-content{
    .mos-c-tabs--label{
        a{
            min-width:12.25rem !important;
            font-weight: bolder;
        }
    }
  }
}

.width-200per {
  max-width: 220%!important;
  width: 220%!important;
}

.mapping-table {
  font-size: 0.8rem;
  display: inline-block;
  vertical-align: top;
  height: 280px;
  overflow-y: auto;

  thead {
    background-color: #005c96 !important;
  }

  mercer-table > table > thead > tr > th > span {
    color: white;
    display: inline-block;
    padding: 0.8rem !important;
  }

  mercer-table > table > thead > tr > th > a {
    color: white;
    display: inline-block;
    padding: 0.6rem !important;
  }
}

.graph-legend-block {
  margin-top: 10px;
  display: -webkit-inline-box;
  display: inline-flex;
}

.graph-legend {
  margin-right: 5px;
}

.graph-legend-text {
  display: -webkit-inline-box;
  display: inline-flex;
  font-size: 0.7rem;
}

.node-prop {
  width: 29%;
  display: inline-block;
  vertical-align: top;
  margin-top: -8px;
}

.Capitalize {
  text-transform: capitalize;
}

.ecdropdown {
  padding-left: 5px;
  width: 100%;
}

.rowimages {
  width: 20px;
  height: 20px;
  padding: 3px;
}

.status-mapped {
  color: black;
}
.status-unmapped {
  color: red;
}

.toolbar-table {
  //width: 97%;
  border-width: 4px;
  border-style: solid;
  margin: 7px;
}

.toolbar-header {
  background-color: #4486a5;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.toolbar-content {
  border-width: 3px;
  border-style: solid;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: white;
  line-height: 1.2rem;
  padding: 5px;
}

.tab-prop {
  color: #524e4e;
}

.tab-val {
  color: blue;
}

.button-implementation {
  margin-left: 2px !important;
  margin-right: 2px !important;
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

.button-panel {
  margin-top: 10px;
  margin-left: 10px;
  display: -webkit-inline-box;
  display: inline-flex;
}

.heading-text {
  font-weight: bold;
  color: rgb(90, 147, 253);
  font-size: 1.2rem !important;
  text-align: center;
  margin-bottom: 10px;
}

.value-text {
  color: rgb(90, 147, 253);
  font-size: 1rem !important;
  margin-bottom: 10px;
}

.execution-result {
  background-color:white;
  color: black;
  height: 650px; 
  overflow-y: auto;
 // white-space: pre;
}

.execution-console {
  background-color:rgba(43, 41, 41, 0.932);
  color: cyan;
  height: 650px; 
  overflow-y: auto;
  white-space: pre;
}

.instruction-selectmodel {
  font-style: italic;
  color: darkgray;
}

.exec-button {
  color: black!important;
  background-color: lightblue!important;
}

.intent-implementation-container-selectmodel {
  .mos-c-modal__content {
    overflow: hidden!important;
  }

  .mos-c-modal--md .mos-c-modal__content, .mos-c-modal--lg .mos-c-modal__content {
   // position: relative;
    overflow-y: hidden!important;
  //  max-height: 20rem;
  }

}