<div class="intent-implementation-container">

    <div class="row" style="display:-webkit-inline-box;">
        <div class="small-6 columns mos-o-form-inline-field">
            <div class="heading-text">
                <span>Intent Fulfillment Model</span>
            </div>
            <div style="position: relative;">
                <div style="border: solid 1px lightgrey; width:100%; height:380px" #intentFulfillmentGraph></div>
            </div>

            <div class="graph-legend-block mos-o-form-inline-field">
                <div class="graph-legend">
                    <img src="../assets/images/node.svg" class="rowimages" />
                    <span class="graph-legend-text">Domain Model Entity</span>
                </div>
                <div class="graph-legend">
                    <img src="../assets/images/function.svg" class="rowimages" />
                    <span class="graph-legend-text">Function</span>
                </div>
                <!--
            </div>
            <div class="graph-legend-block mos-o-form-inline-field" style="margin-top:0px;">
                -->
                <div class="graph-legend">
                    <img src="../assets/images/database.svg" class="rowimages" />
                    <span class="graph-legend-text">Connector DataSet</span>
                </div>
            </div>
        </div>

        <div class="small-6 columns mos-o-form-inline-field">
            <div class="value-text width-200per">
                <span>{{ modelname }}</span>
                <span class="instruction-selectmodel" *ngIf="!modelname">Please select the model by click on select</span>
                <a style="float:right;" (click)="openChangeModel(changeModel);">Select..</a>
            </div>

            <div class="mapping-table width-200per">
                <mercer-table [bordered]="true" [striped]="true" [sortable]="true" [headers]="nodemappingHeader" [rows]="nodemappings">
                    <ng-template mercer-table-row let-row="row">
                        <td style="padding-left:5px;">
                            <img [src]="row.nodeimagesrc" class="rowimages" /> {{row.node.label}}
                        </td>
                        <td style="text-align: center">
                            <span [class]="row.mappedclass" style="align-content:center">{{row.ismapped}}</span>
                        </td>
                        <td style="padding-left:5px;">
                            <img [src]="row.connimagesrc" class="rowimages" *ngIf="row.connimagesrc!=''" /> {{row.mappedsourcename}}
                        </td>
                        <td style="text-align: center">
                            <div class="mos-u-display--inline-block">
                                <button mercer-icon-button type="button" icon="adjust" alt="Connector" (click)="edit('connector', row); editNodeProperties.open()"
                                    mercer-tooltip mercer-tooltip-text="Connector" mercer-tooltip-position="bottom-left" mercer-tooltip-delay="100"
                                    [disabled]="row.nodetype!='entity'"></button>
                            </div>
                            <div class="mos-u-display--inline-block">
                                <button mercer-icon-button type="button" icon="subdirectory_arrow_left" alt="Input" (click)="edit('input', row); editNodeProperties.open()"
                                    mercer-tooltip mercer-tooltip-text="Input Parameters" mercer-tooltip-position="bottom-left"
                                    mercer-tooltip-delay="100"></button>
                            </div>
                            <div class="mos-u-display--inline-block">
                                <button mercer-icon-button type="button" icon="exit_to_app" alt="Output" (click)="edit('output', row); editNodeProperties.open()"
                                    mercer-tooltip mercer-tooltip-text="Output Parameters" mercer-tooltip-position="bottom-left"
                                    mercer-tooltip-delay="100"></button>
                            </div>
                        </td>
                    </ng-template>
                </mercer-table>
            </div>
            <br />
            <div class="row width-200per" style="max-width:none!important;">
                <div class="small-6 columns">
                    <div>
                        <mercer-progress-circle [currentProgress]="modelFulfilledPercentage" [radius]="40" [theme]="fulfillprogresstheme">
                        </mercer-progress-circle>
                        <p class="mos-u-color-text--{{fulfillprogresstheme}}">Implemented</p>
                    </div>
                </div>
                <div class="small-6 column" style="padding-right: 0!important;">
                    <div class="row align-right is-collapse-child mos-c-modal__actions">
                        <div>
                            <button mercer-button expandedOn="small" size="sm" (click)="saveModelMappings()">Save</button>
                        </div>
                        <div>
                            <button mercer-button expandedOn="small" [outline]="true" size="sm" (click)="POSModelDialog.open();">POS</button>
                        </div>
                        <div>
                            <button mercer-button expandedOn="small" [outline]="true" size="sm" (click)="modelExecutionResult.toggleDrawer(); executeModel();">Test</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mercer-modal #changeModel escapable="false" theme="primary">
        <mercer-modal-header>
            <h3>Select Intent Fulfillment Model</h3>
        </mercer-modal-header>
        <mercer-modal-content contentMaxHeight="400">
            <mercer-intent-implementation-selectmodel [modelid]="selectedIntentffModelGraph._id" [models]="intentffmodelgraphs" [counter]="modelselctr"
                (onChange)="onModelChanged($event)"></mercer-intent-implementation-selectmodel>

        </mercer-modal-content>
        <mercer-modal-footer>
            <div class="row align-right is-collapse-child mos-c-modal__actions">
                <div>
                    <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="reflectModelChange(true);changeModel.close()">Ok</button>
                </div>
                <div>
                    <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="reflectModelChange(false);changeModel.close()">Cancel</button>
                </div>
            </div>
        </mercer-modal-footer>
    </mercer-modal>


    <mercer-modal #POSModelDialog escapable="true" theme="primary">
        <mercer-modal-header>
            <h3>Parts Of Speech (POS) -  {{modelname}}</h3>
        </mercer-modal-header>
        <mercer-modal-content contentMaxHeight="400">
            <div style="min-height:100px;"> {{posTree}} </div>
        </mercer-modal-content>
        <mercer-modal-footer>
            <div class="row align-right is-collapse-child mos-c-modal__actions">
                <div>
                    <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="POSModelDialog.close()">Close</button>
                </div>
            </div>
        </mercer-modal-footer>
    </mercer-modal>


    <mercer-modal #editNodeProperties escapable="true" theme="primary">
        <mercer-modal-header>
            <h3>Node Properties</h3>
        </mercer-modal-header>
        <mercer-modal-content contentMaxHeight="400">

            <mercer-intent-implementation-property [propertytype]="propertytype" [aggregatefunctions]="aggregatefunctions" [datasets]="datasets"
                [nodemappings]="nodemappings" [nodemapping]="nodemapping" (onChange)="setNodeProperties($event)"></mercer-intent-implementation-property>

        </mercer-modal-content>
        <mercer-modal-footer>
            <div class="row align-right is-collapse-child mos-c-modal__actions">
                <div>
                    <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="reflectNodePropertyChanges(true);editNodeProperties.close()">Ok</button>
                </div>
                <div>
                    <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="reflectNodePropertyChanges(false);editNodeProperties.close()">Cancel</button>
                </div>
            </div>
        </mercer-modal-footer>
    </mercer-modal>

    <mercer-drawer-container [openRight]="true">
        <mercer-drawer #modelExecutionResult>
            Model Execution Result... {{executionStatus}}
            <br />

            <mercer-tab-group theme="primary" borderTheme="primary" activeTheme="primary" class="enterprise-content">
                <mercer-tab>
                    <ng-template mercer-tab-label>
                        Result
                    </ng-template>
                    <mercer-tab-content>
                        <div class="execution-result">
                            <mercer-intent-implementation-result [processedmodel]="processedmodel">
                            </mercer-intent-implementation-result>
                        </div>
                    </mercer-tab-content>
                </mercer-tab>

                <mercer-tab>
                    <ng-template mercer-tab-label>
                        Logging
                    </ng-template>
                    <mercer-tab-content>
                        <div class="execution-console" [innerHtml]="executionresult">
                        </div>
                    </mercer-tab-content>
                </mercer-tab>
            </mercer-tab-group>

            <div class="row align-right is-collapse-child mos-c-modal__actions">
                <div>
                    <button mercer-button class="exec-button" expandedOn="small" [flat]="true" size="sm" (click)="executeModel();">Execute
                    </button>
                    <button mercer-button class="exec-button" expandedOn="small" [flat]="true" size="sm" (click)="openEntityTypes(testEntities)">Test
                        Entities
                    </button>
                </div>
            </div>
            <div class="row is-collapse-child mos-c-modal__actions">
                <div>
                    <input id="chkDetailLogging" type="checkbox" name="chkDetailLogging" title="" [(ngModel)]="detailLog">
                    <label for="chkDetailLogging" style="color:white">Detail Logging</label>
                </div>
            </div>

        </mercer-drawer>
        <mercer-drawer-content>

        </mercer-drawer-content>
    </mercer-drawer-container>

    <mercer-modal #testEntities escapable="true" theme="primary">
        <mercer-modal-header>
            <h3>Test Execution - Entities</h3>
        </mercer-modal-header>
        <mercer-modal-content contentMaxHeight="400">
            <table *ngIf="updatedEntities && updatedEntities.length>0">
                <tr>
                    <td colspan="2" style="padding-left: 1px;"><span class="preview-instruction">Please enter entity type
                            values
                        </span></td>
                </tr>
                <tr>
                    <td class="preview-header-col">Entity Type</td>
                    <td class="preview-header-col">VALUE</td>
                </tr>
                <tr *ngFor="let entity of updatedEntities">
                    <td class="preview-paramname">{{ entity.entity_type }}</td>
                    <td class="preview-paramvalue">
                        <input type="text" [value]="entity.value" (change)="entitytypeValueChange(entity,$event)" style="width:80%;">
                    </td>
                </tr>
            </table>
        </mercer-modal-content>
        <mercer-modal-footer>
            <div class="row align-right is-collapse-child mos-c-modal__actions">
                <div>
                    <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="reflectTestEntities(true);testEntities.close()">Ok</button>
                </div>
                <div>
                    <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="reflectTestEntities(false);testEntities.close()">Cancel</button>
                </div>
            </div>
        </mercer-modal-footer>
    </mercer-modal>

</div>