<div>
    <table style="border: solid 2px; border-color: black;">
        <thead class="property-header-row">
        <th *ngFor="let col of resultDataTable.columns" class="property-col">{{col}}</th>
    </thead>
    <tr *ngFor="let row of resultDataTable.rows">
        <td *ngFor="let col of resultDataTable.columns" class="property-col">
            {{row[col]}}
        </td>
    </tr>
    </table>
</div>