﻿<div class="row main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
    <!-- <div class="small-3 columns mos-u-float-left mos-u-spacer--margin-right-md side-nav">
        <app-side-menu menulevel="textanalysis"></app-side-menu>
    </div> -->
    <div class="small-12 columns mos-u-float-right mos-u-spacer--margin-bottom-md main-panel">
        <h3>NLP Text Analysis</h3>
        <div class="small-15 columns mos-u-float-center mos-u-spacer--margin-bottom-md main-panel">
            <table>
                <tr>
                    <td>
                        <!-- <h3>Model Name :{{this.modelName}} </h3> -->
                        <h3>Model Name :{{this.modelName}}, Utterance: {{this.inputIntent}}</h3>
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        <h4>Utterance/Text</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" item-width="200px" [(ngModel)]="inputIntent" name="utteranceText">
                    </td>
                </tr>
                <tr align="right">
                    <td align="right">
                        <button mercer-button type="button" (click)="getIntents()" expandedOn="small">Get Intent</button>
                    </td>
                </tr> -->
                <tr *ngIf="articles" item-width="400px">
                    <td>
                        <mercer-tab-group [condensed]="true" activeTheme="primary" borderTheme="primary" [useSideScroll]="true">
                            <mercer-tab>
                                <ng-template mercer-tab-label>
                                    Intents
                                </ng-template>
                                <mercer-tab-content>
                                    <table border="1">
                                        <tr>
                                            <th width="200">Intents</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td *ngFor="let obj of this.IntentScoreModel">
                                                            <table border="1">
                                                                <tr>
                                                                    <th width="200" style="background-color:lightgray">{{obj.key}}</th>
                                                                </tr>
                                                                <tr>
                                                                    <td>{{obj.value}}</td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </mercer-tab-content>
                            </mercer-tab>
                            <mercer-tab>
                                <ng-template mercer-tab-label>
                                    Entities
                                </ng-template>
                                <mercer-tab-content>
                                    <br />
                                    <table>
                                        <tr>
                                            <td *ngFor="let obj of articles.Entities" item-width="600px">
                                                <table border="1">
                                                    <tr>
                                                        <th width="60px" style="background-color:lightgray">{{obj.entity_type | json}}</th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            {{obj.value | json}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </mercer-tab-content>
                            </mercer-tab>
                            <!--    <mercer-tab>
                                <ng-template mercer-tab-label>
                                    Sentiment
                                </ng-template>
                                <mercer-tab-content>

                                    <p>Content Missing</p>
                                </mercer-tab-content>
                            </mercer-tab> -->
                            <mercer-tab>
                                <ng-template mercer-tab-label>
                                    JsonTree
                                </ng-template>
                                <mercer-tab-content>
                                    <div [innerHTML]="this.JsonTree">

                                    </div>

                                </mercer-tab-content>
                            </mercer-tab>
                            <mercer-tab>
                                <ng-template mercer-tab-label>
                                    Syntax
                                </ng-template>
                                <mercer-tab-content>
                                    <table border="1">
                                        <tr>
                                            <th width="200" style="background-color:lightgray">Nouns</th>
                                        </tr>
                                        <tr>

                                            <td item-width="70%">
                                                <span *ngFor="let obj of articles.Nouns">{{obj.value | json}}
                                                    <font ng-show="!$last">,</font>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                    <table border="1">
                                        <tr>
                                            <th width="450" style="background-color:lightgray">Verbs</th>
                                        </tr>
                                        <tr>

                                            <td width="450">
                                                <span *ngFor="let obj of articles.Verbs">{{obj.value | json}}
                                                    <font ng-show="!$last">,</font>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                    <table border="1">
                                        <tr>
                                            <th width="200" style="background-color:lightgray">Adjectives</th>
                                        </tr>
                                        <tr>

                                            <td width="450">
                                                <span *ngFor="let obj of articles.ADJ">{{obj.value | json}}
                                                    <font ng-show="!$last">,</font>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                    <table border="1">
                                        <tr>
                                            <th width="200" style="background-color:lightgray">Part of Speech</th>
                                        </tr>
                                        <tr>
                                            <td>{{articles.POS | json}}</td>

                                        </tr>
                                    </table>
                                </mercer-tab-content>

                            </mercer-tab>

                            <!-- <mercer-tab>
                                <ng-template mercer-tab-label>
                                    Context
                                </ng-template>
                                <mercer-tab-content>
                                    <table border="1">
                                        <tr>
                                            <th width="200" style="background-color:lightgray">Context</th>
                                        </tr>
                                        <tr>

                                            <td width="450">
                                                <span *ngFor="let obj of articles.CONTEXT">{{obj.value | json}}
                                                    <font ng-show="!$last">
                                                        <br />
                                                    </font>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </mercer-tab-content>
                            </mercer-tab> -->

                        </mercer-tab-group>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
<br/>
<!-- </div> -->