<!-- <app-header1></app-header1> -->
<div class="row main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
  <div class="columns side-nav">
      <ul class="accordion-menu animated">
      <li class="has-children">
        <a [routerLink]="['/nlp']"><input type="checkbox" name ="group-1" id="group-1" checked>
        <label for="group-1">NLP</label>

            <ul>
              <li>
               <a href=""> <input type="checkbox" name ="sub-group-1" id="sub-group-1">
                <label for="sub-group-1">Text Analysis</label></a>
              </li>
              <li>
                <a href=""><input type="checkbox" name ="sub-group-2" id="sub-group-2">
                <label for="sub-group-2">Text Classification</label></a>
              </li>
              <li class="has-children">
                <a href=""><input type="checkbox" name ="sub-group-3" id="sub-group-3">
                <label for="sub-group-3">Model Assets</label>

                <ul>
                  <li>
                    <a href=""><input type="checkbox" name ="sub-group-4" id="sub-group-4"><label for="sub-group-level-4">Entities</label></a>
                  </li>
                  <li>
                    <a href=""><input type="checkbox" name ="sub-group-5" id="sub-group-5"><label for="sub-group-level-5">Parts of Speech</label></a>
                  </li>
                  <li>
                    <a href=""><input type="checkbox" name ="sub-group-6" id="sub-group-6"><label for="sub-group-level-6">Word Dependency</label></a>
                  </li>
                </ul>
                </a>
              </li>
            </ul>
            </a>
        </li>

        <li>
          <a href=""><input type="checkbox" name ="group-2" id="group-2">
          <label for="group-2" class="selected">Intent Fulfillment</label></a>
        </li>

        <li>
          <a  [routerLink]="['/enterpriseconnector']"><input type="checkbox" name ="group-3" id="group-3">
          <label for="group-3">Enterprise Connector</label></a>
        </li>
      </ul> 

  </div>
  <div class="columns mos-u-spacer--margin-bottom-md main-panel">
    <h3>Intent Fulfillment</h3>
     <div class="row align-middle mos-u-spacer--margin-bottom-lg">
        
          <div class="columns small-10 mos-u-float-left">
            <label for="basicFormSuggestions">Utterance/Text</label>
            <textarea class="mos-u-resize--vertical ng-pristine ng-touched ng-invalid" id="basicFormSuggestions" name="basicFormSuggestions" required="" title=""></textarea>
            
          </div>
          <div class="columns small-2 mos-u-float-right">
            <button mercer-button type="button" class="buttons-width">Test</button>
          </div>
        

     </div>
     <div class="row">
                <div class="small-7 columns">
                  <div class="divTable">
                     <div class="headRow">
                        <div class="divCell">Customer ID</div>
                     </div>
                    <div class="divRow">
                          <div class="divCell">001</div>
                    </div>
                  </div>
                  <div class="divTable">
                     <div class="headRow">
                        <div class="divCell">Customer ID</div>
                     </div>
                    <div class="divRow">
                          <div class="divCell">001</div>
                    </div>
                  </div>
                  <div class="divTable">
                     <div class="headRow">
                        <div class="divCell">Customer ID</div>
                     </div>
                    <div class="divRow">
                          <div class="divCell">001</div>
                    </div>
                  </div>
                  <div class="divTable">
                     <div class="headRow">
                        <div class="divCell">Customer ID</div>
                     </div>
                    <div class="divRow">
                          <div class="divCell">001</div>
                    </div>
                  </div>
                </div>
                <div class="small-5 columns">
                  <p>Intent Tree</p>
                  <div class="placeholder"></div>
                </div>
              </div>

              <div class="row mos-u-spacer--margin-top-lg">
                <div class="small-12 columns">
                <h4>Intent Fulfilled</h4>
              </div>
                <div class="small-4 columns">
                  <textarea class="mos-u-resize--vertical ng-pristine ng-touched ng-invalid" id="basicFormSuggestions" name="basicFormSuggestions" required="" title="" placeholder="Intent Mapping Found:>Region>Policy"></textarea>
                </div>
                <div class="small-6 columns">
                  <textarea class="mos-u-resize--vertical ng-pristine ng-touched ng-invalid" id="basicFormSuggestions" name="basicFormSuggestions" required="" title="" placeholder="Response JSON"></textarea>
                </div>
              </div>


  </div>
</div>