<div class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0,'position':'auto'}"
    role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-hidden="true" type="button" (click)="hide()">×</button>
                <div class="modal-title">
                    <ng-content select=".app-modal-header"></ng-content>
                </div>
            </div>
            <div class="modal-body">
                <!--<div id="treeElement"></div>-->
                <ng-content select=".app-modal-body"></ng-content>
            </div>
            <div class="modal-footer">
                <ng-content select=".app-modal-footer"></ng-content>
            </div>
        </div>
    </div>
</div>