<form name="f" (ngSubmit)="f.form.valid && saveForm()" #f="ngForm" novalidate>
  <div class="row main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
    <div class="columns mos-u-spacer--margin-bottom-md main-panel">
      <h3 style="margin-top:-20px;margin-bottom:5px;">
        <fieldset>
          <ul class="mos-o-form-list-inline">
            <li class="small-4 columns">
              <!-- <span style="font-size: 1rem !important;">Add / Edit Project</span> -->
              <!-- <span style="font-size: 1rem !important;">Create Project</span> -->
              <div *ngIf="isEditing === true">Edit Project</div>
              <div *ngIf="isEditing === false">Create Project</div>
            </li>
            <!-- <li class="small-4 columns">
              <input id="newproj" type="radio" name="projmode" value="newproj" title="" [(ngModel)]="model.proj.mode" #newproj="ngModel"
                (change)="toggleSelections($event)">
              <label for="newproj">Create New</label>
            </li>
            <li class="small-4 columns">
              <input id="editproj" type="radio" name="projmode" value="editproj" title="" [(ngModel)]="model.proj.mode" #editproj="ngModel"
                (change)="toggleSelections($event)">
              <label for="editproj">Edit existing</label>
            </li> -->
          </ul>
        </fieldset>
      </h3>

      <div class="row align-middle mos-u-spacer--margin-bottom-lg">
        <div class="small-12 columns mos-o-form-inline-field">
          <div class="projectcatalog">
            <ng-container *ngIf="model.proj.mode == 'newproj' then newproj"></ng-container>
            <ng-container *ngIf="model.proj.mode == 'editproj' then editproj"></ng-container>

            <div class="row align-middle mos-u-spacer--margin-bottom-lg create-area">
              <fieldset>
                <ul class="mos-o-form-list">
                  <li>
                    <input id="nlp" type="checkbox" name="nlp" title="" [(ngModel)]="model.nlp.selected" #nlp="ngModel" #nlp (change)="toggleOptions($event)"
                      [disabled]="(isEditing === true)">
                    <label for="nlp">NLP</label>
                    <ul class="mos-o-form-list create-sub-area1">
                      <li>
                        <div class="row mos-o-form-row">
                          <div class="small-12 columns">
                            <fieldset>
                              <ul class="mos-o-form-list-inline">
                                <li class="small-3 columns">
                                  <input id="chkConv" type="checkbox" name="chkConv" title="" [(ngModel)]="model.nlp.ui.selected" #chkConv="ngModel" [disabled]="(isEditing === true) || (nlp.checked == false || null)"
                                    #chkConv (change)="toggleOptions($event)">
                                  <label for="chkConv">Conversation UI</label>
                                </li>

                                <li class="small-3 columns">
                                  <input id="dropdown-check1" type="checkbox" name="dropdown-check1" title="" [(ngModel)]="model.nlp.context.selected" [disabled]="(isEditing === true) || (nlp.checked == false || null)">
                                  <label for="dropdown-check1">Conversation Context</label>
                                </li>

                                <li class="small-3 columns">
                                  <input id="dropdown-check2" type="checkbox" name="dropdown-check2" title="" [(ngModel)]="model.nlp.sentiments.selected" [disabled]="(isEditing === true) || (nlp.checked == false || null)">
                                  <label for="dropdown-check2">Sentiment Analysis</label>
                                </li>

                                <li class="small-3 columns">
                                  <input id="dropdown-check3" type="checkbox" name="dropdown-check3" title="" [(ngModel)]="model.nlp.feedback.selected" [disabled]="(isEditing === true) || (nlp.checked == false || null)">
                                  <label for="dropdown-check3">Feedback Management</label>
                                </li>
                              </ul>
                            </fieldset>
                          </div>
                        </div>

                        <div class="row mos-o-form-row">
                          <div class="small-12 columns">
                            <fieldset>
                              <ul class="mos-o-form-list-inline">
                                <li class="small-{{12 / predefinedUiTypes.length}} columns" *ngFor="let type of predefinedUiTypes">
                                  <input type="radio" id="rdoUi{{ type.name }}" name="rdoUi" [value]="type.value" [(ngModel)]="model.nlp.ui.type" [disabled]="(isEditing === true) || (chkConv.checked == false || null)"
                                  />
                                  <label for="rdoUi{{ type.name }}">{{ type.displayname }}</label>
                                </li>
                              </ul>
                            </fieldset>
                          </div>
                        </div>
                      </li>

                      <li>
                        <div class="row mos-o-form-row">
                          <div class="small-3 columns">
                            <!-- <input id="chkIM" type="checkbox" name="chkIM" title="" (change)="toggleOptions(chkIM.checked, $event)" [disabled]="nlp.checked == false || null" -->
                            <input id="chkIM" type="checkbox" name="chkIM" title="" (change)="toggleOptions($event)" [disabled]="(isEditing === true) || (nlp.checked == false || null)"
                              [(ngModel)]="model.nlp.ka.selected" #chkIM="ngModel" #chkIM/>
                            <label for="chkIM">Choose Skill Area(s)</label>
                          </div>

                          <div class="small-4 columns mos-o-form-input-field" *ngIf="chkIM.checked === true">
                            <select name="rdoKA" [(ngModel)]="model.nlp.ka.values" #rdoKA="ngModel" title="" required class="thinview" [disabled]="isEditing">
                                <option value="" selected>Select a option</option>
                                <option *ngFor="let item of predefinedKnowledgeAreas" [value]="item._id">
                                 <!-- <div *ngIf="item.sysdefined"><mercer-icon icon="public" size="lg">{{item.name}}</mercer-icon></div> -->
                                 <!-- <span>{{item.name}} <b>{{item.sysdefined ? ' - (Public) &#xf26e;':''}}</b></span> -->
                                 {{item.name}} {{item.sysdefined ? ' - (Public) &#xf26e;':''}}
                                </option>
                            </select>
                          </div>

                          <div class="small-1 columns" *ngIf="(isEditing === false) && (chkIM.checked === true)">
                            <button mercer-icon-button type="button" icon="add_circle" (click)="addModel(infoExample)">Create New Language Model</button>
                            <mercer-modal #infoExample escapable="true" theme="primary">
                              <mercer-modal-header>
                                <h3>
                                  <div>Create New Model</div>
                                </h3>
                              </mercer-modal-header>
                              <mercer-modal-content contentMaxHeight="400">
                                <form novalidate>
                                  <div class="row mos-o-form-row">
                                    <div class="small-12 columns mos-o-form-input-field">
                                      <input id="basicFormName" type="text" [(ngModel)]="model.nlp.new.name" name="basicFormName" placeholder="Type Model Name here"
                                        required #basicFormName="ngModel" #basicFormName>
                                      <label for="basicFormName" data-mos-hint-text="" data-mos-invalid-text="" data-mos-valid-text="">Name
                                          <span class="mos-o-form-required-icon">*</span>
                                        </label>
                                    </div>
                                  </div>
                                  <div class="row mos-o-form-row">
                                    <div class="small-12 columns mos-o-form-input-field">
                                      <select name="langCulture" [(ngModel)]="model.nlp.new.cultureCode" #langCulture="ngModel" title="" required>
                                              <option value="-1" disabled selected>Choose a Language Culture</option>
                                              <option *ngFor="let cult of predefinedCultures" [value]="cult._id">{{cult.name}}</option>
                                          </select>
                                      <label for="langCulture" data-mos-hint-text="**Culture is the Language that your app Understands and Speaks, not the interface Language"
                                        data-mos-invalid-text="" data-mos-valid-text="">Culture
                                          <span class="mos-o-form-required-icon">*</span>
                                        </label>
                                    </div>
                                  </div>
                                  <div class="row mos-o-form-row">
                                    <div class="small-12 columns mos-o-form-input-field">
                                      <input id="description" type="text" [(ngModel)]="model.nlp.new.description" name="description" placeholder="Type app description here"
                                        title="" required #description="ngModel" #description>
                                      <label for="description" data-mos-hint-text="" data-mos-invalid-text="" data-mos-valid-text="">Description
                                          <span class="mos-o-form-required-icon">*</span>
                                        </label>
                                    </div>
                                  </div>
                                  <div class="row mos-o-form-row">
                                    <div class="small-6 columns mos-o-form-input-field">
                                      <input id="shared" type="checkbox" name="shared" title="" [(ngModel)]="model.nlp.new.shared" #shared="ngModel" #shared>
                                      <label for="shared">Shared</label>
                                    </div>
                                    <!-- </div>
                                    <div class="row mos-o-form-row"> -->
                                    <div class="small-6 columns mos-o-form-input-field">
                                      <input id="sysdefined" type="checkbox" name="sysdefined" title="" [(ngModel)]="model.nlp.new.sysdefined" #sysdefined="ngModel"
                                        #sysdefined>
                                      <label for="sysdefined">System Defined</label>
                                    </div>
                                  </div>
                                </form>
                              </mercer-modal-content>
                              <mercer-modal-footer>
                                <div class="row align-right is-collapse-child mos-c-modal__actions">
                                  <div>
                                    <button mercer-button expandedOn="small" size="sm" (click)="addNlpLanguageModel(infoExample)">Done</button>
                                  </div>
                                  <div>
                                    <button mercer-button expandedOn="small" [outline]="true" size="sm" (click)="infoExample.close()">Cancel</button>
                                  </div>
                                </div>
                              </mercer-modal-footer>
                            </mercer-modal>
                          </div>
                        </div>
                        <!-- <ng-container *ngIf="chkIM.checked then predefka"></ng-container> -->
                      </li>
                    </ul>
                  </li>

                  <li>
                    <div class="row mos-o-form-row">
                      <div class="small-2 columns">
                        <input id="chkIF" type="checkbox" name="chkIF" title="" [(ngModel)]="model.if.selected" (change)="toggleOptions($event)"
                          #chkIF="ngModel" #chkIF [disabled]="(isEditing === true)">
                        <label for="chkIF">Intent Fulfillment</label>
                      </div>

                      <div class="small-4 columns mos-o-form-input-field" *ngIf="chkIF.checked === true">
                        <mos-multi-select [(ngModel)]="model.if.domain.values" name="chkModel" label="" displayKey="name" selectedText="chosen">
                          <mos-multi-option *ngFor="let item of predefinedModels" [value]="item._id">{{item.name}}</mos-multi-option>
                        </mos-multi-select>
                      </div>
                    </div>
                  </li>
                </ul>
              </fieldset>
            </div>

            <!-- <div class="row align-middle mos-u-spacer--margin-bottom-lg create-area">
              <ul class="mos-o-form-list">
                <li>
                  <input id="chkEC" type="checkbox" name="chkEC" title="" [(ngModel)]="model.ec.selected" #chkEC="ngModel" #chkEC [disabled]="(isEditing === true)">
                  <label for="chkEC">Intent Implementation</label>
                </li>
              </ul>
            </div> -->

            <div class="row align-middle mos-u-spacer--margin-bottom-lg create-area">
              <div class="column small-4"></div>
              <div class="column small-4"></div>
              <div class="column small-2">
                <!-- <div *ngIf="model.proj.mode == 'newproj'">
                  <button mercer-button class="buttons-width">Create Seed Project</button>
                </div>
                <div *ngIf="model.proj.mode == 'editproj'"> -->
                <button mercer-button class="buttons-width" size="sm">Save</button>
                <!-- </div> -->

                <!-- <mercer-icon icon="save" size="md" alt=""></mercer-icon> -->
                <!-- <button mercer-button type="button" class="buttons-width">Next</button> -->
              </div>
              <div class="column small-2">
                <button mercer-button type="button" [outline]="true" size="sm" class="buttons-width" (click)="goToProjectCatalog()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #predefka>
  <div class="row mos-o-form-row">
    <div class="small-12 columns">
      <ul class="mos-o-form-list format-ul">
        <!-- <li class="first format-list">
          <input id="checkbox001" type="checkbox" name="checkbox001" title="">
          <label for="checkbox001">Select from pre-built Intent models</label>
        </li> -->
        <li class="format-list" *ngFor="let item of predefinedKnowledgeAreas">
          <!-- <input id="kaModel" name="kaModel" type="checkbox" title="" [value]="item.id" [(ngModel)]="item.checked"> -->
          <!-- <input id="chkKA{{item._id}}" type="checkbox" name="chkKA{{item._id}}" title="" [value]="item._id" [(ngModel)]="item.checked"
            [disabled]="(isEditing === true)">
          <label for="chkKA{{item._id}}">{{item.name}}</label> -->

          <input id="rdoKA{{item._id}}" type="radio" name="rdoKA" title="" [value]="item._id" [(ngModel)]="model.nlp.ka.values" [disabled]="(isEditing === true)">
          <label for="rdoKA{{item._id}}"><span>{{item.name}} <b>{{item.sysdefined ? '(System Defined)':''}}</b></span></label>
          <!-- <label for="kaModel">{{item.name}}</label> -->
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #predefmodels>
  <div class="row mos-o-form-row">
    <div class="small-12 columns">
      <ul class="mos-o-form-list format-ul">
        <li class="format-list" *ngFor="let item of predefinedModels">
          <input id="chkModel{{item._id}}" type="checkbox" name="chkModel{{item._id}}" title="" [value]="item._id" [(ngModel)]="item.checked"
            [disabled]="(isEditing === true)">
          <label for="chkModel{{item._id}}">{{item.name}}</label>
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #newproj>
  <div class="row mos-o-form-row">
    <div class="small-4 columns mos-o-form-input-field">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !projectName.valid }">
        <input name="projectName" type="text" placeholder="Enter a Project name" [(ngModel)]="model.projectName" #projectName="ngModel"
          #projectName ngModel required/>
        <!-- <label for="projectName">Project Name</label> -->
        <div *ngIf="f.submitted && !projectName.valid" class="help-block">Project Name is required</div>
      </div>
    </div>
    <!-- </div> -->

    <!-- <div class="row mos-o-form-row"> -->
    <div class="small-4 columns mos-o-form-input-field">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !projectType.valid }">
        <select name="projectType" [(ngModel)]="model.projectType" #projectType="ngModel" title="" required ngModel>
          <option value="-1" disabled>Select Project Category</option>
          <option *ngFor="let category of predefinedCategories" [value]="category._id">{{category.name}}</option>
        </select>
        <!-- <label for="projectType" data-mos-hint-text="" data-mos-invalid-text="" data-mos-valid-text="">Project Category</label> -->
        <div *ngIf="f.submitted && !projectType.valid" class="help-block">Project Category is required</div>
      </div>
    </div>
    <div class="small-4 columns">
      <div class="mos-u-display--inline-block">
        <button mercer-icon-button type="button" icon="add" alt="Add" (click)="addCategory()"></button>
        <div *ngIf="model.proj.newcategory">
          <form [formGroup]="catAddGroup" novalidate>
            <div class="mos-o-form-input-field">
              <input id="catName" formControlName="catName" type="text" placeholder="Enter new category name" [(ngModel)]="model.catName">
              <!-- <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !catName.valid }"> 
              <input name="catName" type="text" placeholder="Enter new category name" [(ngModel)]="model.catName" #catName="ngModel" #catName
                required>-->
              <div *ngIf="f.submitted && !catName.valid" class="help-block">Category Name is required</div>
            </div>
            <button mercer-button type="button"  size="sm"  [outline]="true"  iconPosition="left"  icon="add" (click)="saveCategory()">Add</button>
              <button mercer-button type="button"  size="sm"  [outline]="true"  iconPosition="left"  icon="cancel" (click)="cancelAddCategory()">Cancel</button>
                <!-- </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row mos-o-form-row">
    <div class="small-12 columns mos-o-form-input-field">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !projectDesc.valid }">
        <input name="projectDesc" type="text" placeholder="Enter Project description" [(ngModel)]="model.projectDesc" #projectDesc="ngModel"
          #projectDesc maxlength="100">
        <!-- <label for="projectName">Project Name</label> -->
        <div *ngIf="f.submitted && !projectDesc.valid" class="help-block">Project Description is required</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #editproj>
  <div class="row mos-o-form-row">
    <div class="small-6 columns mos-o-form-input-field">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !projectName.valid }">
        <select name="projectName" [(ngModel)]="model.projectName" #projectName="ngModel" title="" required (change)="toggleSelections($event)">
          <option value="-1" selected>Choose a Project</option>
          <option *ngFor="let project of projectData" [value]="project._id">{{project.name}}</option>
        </select>
        <!-- <label for="projectName">Project Name</label> -->
        <div *ngIf="f.submitted && !projectName.valid" class="help-block">Project Name is required</div>
      </div>
    </div>
    <!-- </div> -->

    <!-- <div class="row mos-o-form-row"> -->
    <div class="small-6 columns mos-o-form-input-field">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !projectType.valid }">
        <input name="projectType" type="text" [(ngModel)]="model.projectType" #projectType="ngModel" #projectType [disabled]="isEditing === true">
        <div *ngIf="f.submitted && !projectType.valid" class="help-block">Project Category is required</div>
      </div>
    </div>
  </div>

  <div class="row mos-o-form-row">
    <div class="small-12 columns mos-o-form-input-field">
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !projectDesc.valid }">
        <input name="projectDesc" type="text" [(ngModel)]="model.projectDesc" #projectDesc="ngModel" #projectDesc [disabled]="isEditing === true">
        <div *ngIf="f.submitted && !projectDesc.valid" class="help-block">Project Description is required</div>
      </div>
    </div>
  </div>
</ng-template>