<!-- <mercer-nlp-header></mercer-nlp-header> -->
<div class="row main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
  <!-- <div class="columns side-nav">
    <app-side-menu menulevel="nlp"></app-side-menu>
  </div> -->
  <div class="columns mos-u-spacer--margin-bottom-md main-panel">
    <!-- <h4>Add / Edit Project</h4> -->
    <h3 style="margin-top:-20px;margin-bottom:5px;">
      <fieldset>
        <ul class="mos-o-form-list-inline headingBar">
          <li class="small-8 columns">
            <span style="font-size: 1rem !important;">Skill Areas</span>
          </li>
          <li class="small-4 columns">
            <button mercer-icon-button type="button" icon="add_circle" (click)="addModel(infoExample)">Create New Skill Area</button>
          </li>
        </ul>
      </fieldset>
    </h3>

    <div class="row align-middle mos-u-spacer--margin-bottom-lg">
      <div class="columns small-5">
        <!-- <button mercer-button type="button" expandedOn="small" (click)="infoExample.open()">Create New Language Model</button> -->
        <mercer-modal #infoExample escapable="true" theme="primary">
          <mercer-modal-header>
            <h3>
              <div *ngIf="!this.isEditing">Create New Skill</div>
              <div *ngIf="this.isEditing">Edit Skill - {{model.name}}</div>
            </h3>
          </mercer-modal-header>
          <mercer-modal-content contentMaxHeight="400">
            <form novalidate>
              <div class="row mos-o-form-row" *ngIf="!this.isEditing">
                <div class="small-12 columns mos-o-form-input-field">
                  <input id="basicFormName" type="text" [(ngModel)]="model.name" name="basicFormName" [placeholder]="this.isEditing ? '':'Type Skill Name here'"
                    required #basicFormName="ngModel" #basicFormName>
                  <label for="basicFormName" data-mos-hint-text="" data-mos-invalid-text="" data-mos-valid-text="">Name
                    <span class="mos-o-form-required-icon">*</span>
                  </label>
                </div>
              </div>
              <div class="row mos-o-form-row">
                <div class="small-12 columns mos-o-form-input-field">
                  <select name="langCulture" [(ngModel)]="model.cultureCode" #langCulture="ngModel" title="" required>
                        <option value="-1" disabled>Choose a Language Culture</option>
                        <option *ngFor="let cult of predefinedCultures" [value]="cult._id">{{cult.name}}</option>
                    </select>
                  <label for="langCulture" data-mos-hint-text="**Culture is the Language that your app Understands and Speaks, not the interface Language"
                    data-mos-invalid-text="" data-mos-valid-text="">Culture
                    <span class="mos-o-form-required-icon">*</span>
                  </label>
                </div>
              </div>
              <div class="row mos-o-form-row">
                <div class="small-12 columns mos-o-form-input-field">
                  <input id="description" type="text" [(ngModel)]="model.description" name="description" placeholder="Type app description here"
                    title="" required #description="ngModel" #description>
                  <label for="description" data-mos-hint-text="" data-mos-invalid-text="" data-mos-valid-text="">Description
                    <span class="mos-o-form-required-icon">*</span>
                  </label>
                </div>
              </div>
              <div class="row mos-o-form-row">
                <div class="small-6 columns mos-o-form-input-field">
                  <input id="shared" type="checkbox" name="shared" title="" [(ngModel)]="model.shared" #shared="ngModel" #shared>
                  <label for="shared">Shared</label>
                </div>
                <!-- </div>
              <div class="row mos-o-form-row"> -->
                <div class="small-6 columns mos-o-form-input-field">
                  <input id="sysdefined" type="checkbox" name="sysdefined" title="" [(ngModel)]="model.sysdefined" #sysdefined="ngModel" #sysdefined>
                  <label for="sysdefined">System Defined</label>
                </div>
              </div>
            </form>
          </mercer-modal-content>
          <mercer-modal-footer>
            <div class="row align-right is-collapse-child mos-c-modal__actions">
              <div>
                <button mercer-button expandedOn="small" size="sm" (click)="SaveNlpLanguageModel(infoExample)">Done</button>
              </div>
              <div>
                <button mercer-button expandedOn="small" [outline]="true" size="sm" (click)="infoExample.close()">Cancel</button>
              </div>
            </div>
          </mercer-modal-footer>
        </mercer-modal>
      </div>
      <!-- <div class="columns small-4">
        <button mercer-button type="button" expandedOn="small">Import pre-built models</button>
      </div> -->
    </div>
    <div *ngIf="stripedrowData && stripedrowData.length">
      <mercer-table [striped]="true" [headers]="stripedheaderData" [rows]="stripedrowData">
        <ng-template mercer-table-row let-row="row">
          <td>
            <div *ngIf="row.editable === true">
              <!-- <div *ngIf="this.allowEditing(row) === true"> -->
              <a (click)="goToDetails(row.name)">{{row.name}}</a>
            </div>
            <!-- <div *ngIf="this.allowEditing(row)===false"> -->
            <div *ngIf="row.editable === false">
              {{row.name}}
            </div>
          </td>

          <td>{{row.cultureName}}</td>
          <td>{{row.description}}</td>
          <td>{{row.modified | date}}</td>
          <td>{{row.shared}}</td>
          <td>{{row.sysdefined}}</td>
          <td>{{(row.publishdate | date:'MMM dd, yyyy [HH:mm]') || 'NA'}}</td>
          <!-- <td>{{row.endpointsHitCount || 0}}</td> -->
          <td>
            <!-- <a class="floatLeft" (click)="editModel(infoExample,row)">Edit</a> -->
            <mercer-modal #confirmDialog escapable="true" size="sm" iconType="error" [showHeader]="false" alternativeTitle="Delete Skill - {{row.name}}"
              theme="alert">

              <mercer-modal-content contentMaxHeight="400">
                <p>Are you sure you want to delete this skill area and all its associated categories, utterances and entities?</p>
              </mercer-modal-content>
              <mercer-modal-footer>
                <div class="row align-right is-collapse-child mos-c-modal__actions">
                  <div>
                    <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="confirmDialog.close()">No</button>
                  </div>
                  <div>
                    <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="deleteModel(row._id, confirmDialog)">Yes</button>
                  </div>
                </div>
              </mercer-modal-footer>
            </mercer-modal>
            <div *ngIf="row.editable === true">
              <button class="BtnfloatLeft" mercer-icon-button type="button" icon="mode_edit" (click)="editModel(infoExample,row)">Edit</button>
              <!-- <button class="BtnfloatLeft" mercer-icon-button type="button" icon="delete" (click)="deleteModel(row._id)"></button> -->
              <button class="BtnfloatLeft" mercer-icon-button type="button" icon="delete" (click)="confirmDialog.open()"></button>
            </div>
            <button class="BtnfloatLeft" mercer-icon-button type="button" icon="get_app" (click)="downloadModel(row._id)"></button>
          </td>
        </ng-template>
      </mercer-table>
    </div>
  </div>
</div>