<div class="connector-container">
	<div class="row mos-o-form-row top-button-panel">
		<div class="small-12 columns">
			<button mercer-fab-button type="button" icon="add" theme="success" class="mos-u-float-right" size="sm" (click)="resetconnector();connectorPopup.open()">
				New Connector
			</button>
		</div>
	</div>

	<div class="row">
		<div class="data-table">
			<mercer-table id="connectorDataTable" [bordered]="true" [striped]="true" [headers]="connectorheaderData" [rows]="stripedrowData">
				<ng-template mercer-table-row let-row="row">
					<td style="padding-left: 10px;">
						{{row.name}}
					</td>
					<td>
						{{row.connectortype.name}}
					</td>
					<td class="text-overflow-ellipsis" mercer-tooltip [mercer-tooltip-text]="row.connectiondetail" mercer-tooltip-position="bottom-left"
					 mercer-tooltip-delay="100">
						{{ row.connectiondetail }}
					</td>
					<td style="padding-left: 40px;">
						{{ (row.sysdefined)?'Yes':'No' }}
					</td>
					<td style="text-align: center;">
						<div class="mos-u-display--inline-block">
							<button mercer-icon-button type="button" icon="mode_edit" alt="Edit" (click)="edit(row.connectorid, false); connectorPopup.open()"
							 mercer-tooltip mercer-tooltip-text="Edit" mercer-tooltip-position="bottom-left" mercer-tooltip-delay="100"></button>
						</div>
						<div class="mos-u-display--inline-block">
							<button mercer-icon-button type="button" icon="{{ actionIcon }}" [disabled]="row.sysdefined" alt="{{ actionIcon }}" (click)="delete(row.connectorid, row.name)"
							 mercer-tooltip mercer-tooltip-text="Delete" mercer-tooltip-position="bottom-left" mercer-tooltip-delay="100"></button>
						</div>
						<div class="mos-u-display--inline-block">
							<button mercer-icon-button type="button" icon="equalizer" alt="Test Connection" (click)="edit(row.connectorid, true);testConnectionInterface.open();"
							 mercer-tooltip mercer-tooltip-text="Test Connection" mercer-tooltip-position="bottom-left" mercer-tooltip-delay="100"></button>
						</div>
					</td>
				</ng-template>
			</mercer-table>
			<mercer-pagination [paginationInfo]="paginationInfo" (paginationInfoRequest)="updatePage($event)" [showLimitOptions]="true"
			 [showItemInfo]="true"></mercer-pagination>
		</div>
	</div>

	<mercer-modal #connectorPopup escapable="true" theme="primary">
		<mercer-modal-header>
			<h3>{{ popuptitle }}</h3>
		</mercer-modal-header>
		<mercer-modal-content contentMaxHeight="400">
			<form [formGroup]="connectorForm" novalidate>
				<div class="row mos-o-form-row">
					<div class="small-12 columns mos-o-form-input-field">
						<input type="text" formControlName="name" placeholder="Enter unique connector name" [(ngModel)]="connector.name">
						<label for="connectorName">Connector Name:</label>
					</div>
				</div>
				<div class="row mos-o-form-row">
					<div class="small-12 columns mos-o-form-input-field">
						<select class="ecdropdown" title="Select appropriate connector type" formControlName="connectortype" [(ngModel)]="connector.connectortypeid"
						 (change)="connectortypechange()">
							<option selected value="">Select Connector Type</option>
							<option *ngFor="let contype of connectortypes" [value]="contype.connectortypeid">{{contype.name}}</option>
						</select>
						<label for="connector">Connector Type:</label>
					</div>
				</div>

				<div class="row mos-o-form-row">
					<div class="small-12 columns mos-o-form-input-field">
						<label>Connection Detail:</label>
					</div>
				</div>

				<div class="row mos-o-form-row">
					<div class="small-12 columns mos-o-form-input-field">

						<mercer-ec-contype-sqlserver *ngIf="connector.connectortype && (connector.connectortype.subcategory |lowercase) =='sqlserver'"
						 [connectiondetail]="connector.connectiondetailAsObject" (onChange)="updateConnectionDetail($event)"></mercer-ec-contype-sqlserver>
						<!-- 	<mercer-ec-contype-hadoop *ngIf="connector.connectortype && (connector.connectortype.subcategory |lowercase) =='hadoop'"
											 [connectiondetail]="connector.connectiondetail" (onChange)="updateConnectionDetail($event)"></mercer-ec-contype-hadoop> -->
						<mercer-ec-contype-mongodb *ngIf="connector.connectortype && (connector.connectortype.subcategory |lowercase) =='mongodb'"
						 [connectiondetail]="connector.connectiondetailAsObject" (onChange)="updateConnectionDetail($event)"></mercer-ec-contype-mongodb>
						<!-- 	<mercer-ec-contype-restapi *ngIf="connector.connectortype && (connector.connectortype.subcategory |lowercase) =='restapi'"
											 [connectiondetail]="connector.connectiondetail" (onChange)="updateConnectionDetail($event)"></mercer-ec-contype-restapi> -->
						<mercer-ec-contype-oracle *ngIf="connector.connectortype && (connector.connectortype.subcategory |lowercase) =='oracle'"
						 [connectiondetail]="connector.connectiondetailAsObject" (onChange)="updateConnectionDetail($event)"></mercer-ec-contype-oracle>
						<mercer-ec-contype-soapapi *ngIf="connector.connectortype && (connector.connectortype.subcategory |lowercase) =='soapapi'"
						 [connectiondetail]="connector.connectiondetailAsObject" (onChange)="updateConnectionDetail($event)"></mercer-ec-contype-soapapi>

						<mercer-ec-contype-restapi *ngIf="connector.connectortype && (connector.connectortype.subcategory |lowercase) =='restapi'"
						 [connectiondetail]="connector.connectiondetailAsObject" (onChange)="updateConnectionDetail($event)"></mercer-ec-contype-restapi>

						<mercer-ec-contype-default *ngIf="connector.connectortype && (connector.connectortype.subcategory |lowercase) =='default'"
						 [connectiondetail]="connector.connectiondetailAsObject" (onChange)="updateConnectionDetail($event)"></mercer-ec-contype-default>

					</div>
				</div>
				<div class="row mos-o-form-row">
					<div class="small-12 columns mos-o-form-input-field">
						<input type="checkbox" id="sytemDefined" formControlName="sytemDefined" title="" [(ngModel)]="connector.sysdefined">
						<label for="sytemDefined">System Defined</label>
					</div>
				</div>

			</form>

		</mercer-modal-content>
		<mercer-modal-footer>
			<div class="row align-right is-collapse-child mos-c-modal__actions">
				<div>
					<button mercer-button expandedOn="small" size="sm" (click)="saveconnector(connectorPopup)">Save</button>
				</div>
				<div>
					<button mercer-button expandedOn="small" [outline]="true" size="sm" (click)="connectorPopup.close()">Cancel</button>
				</div>
			</div>
		</mercer-modal-footer>
	</mercer-modal>



	<mercer-modal #testConnectionInterface escapable="true" theme="primary">
		<mercer-modal-header>
			<h3>Connector - Test Connection </h3>
		</mercer-modal-header>
		<mercer-modal-content contentMaxHeight="400">
			<div *ngIf="connector && connector!='undefined' && connector.testconnectionresult && connector.testconnectionresult!='undefined'">
				<div class="row">
					<div class="small-6 columns"><span class="col-label">Connector: </span>{{ connector.name }} </div>
					<div class="small-6 columns" *ngIf="connector.connectortype && connector.connectortype!='undefined'">
						<span class="col-label">Connector Type:</span> {{ connector.connectortype.name }} ({{ connector.connectortype.subcategory
						}})
					</div>
				</div>
				<br/>

				<span [class]="testconnectionmsgclass">
					{{connector.testconnectionresult.details}}
				</span>
			</div>
		</mercer-modal-content>
		<mercer-modal-footer>
			<div class="row align-right is-collapse-child mos-c-modal__actions">
				<div>
					<button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="testConnectionInterface.close()">Close</button>
				</div>
			</div>
		</mercer-modal-footer>
	</mercer-modal>

</div>