<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="sqlserver.server" (change)="valuechanged()">
        <label for="server">Server:</label>
    </div>
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="sqlserver.instancename" (change)="valuechanged()">
        <label for="instancename">Instance Name:</label>
    </div>
</div>
<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="sqlserver.database" (change)="valuechanged()">
        <label for="database">Database:</label>
    </div>
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="sqlserver.port" (change)="valuechanged()">
        <label for="port">Port:</label>
    </div>
</div>
<!-- <div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-6 mos-o-form-input-field">
        <select id="" name="database" title="">
            <option>Choose your option</option>
            <option>Option 1</option>
            <option>Option 2</option>
        </select>
        <label for="database">Database:</label>
    </div>
    <div class="columns small-6 mos-o-form-input-field">
        <select id="" name="authentication" title="">
            <option>Choose your option</option>
            <option>Option 1</option>
            <option>Option 2</option>
        </select>
        <label for="Authentication">Authentication:</label>
    </div>
</div> -->
<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="sqlserver.user" (change)="valuechanged()">
        <label for="user">Username:</label>
    </div>
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="sqlserver.password" (change)="valuechanged()">
        <label for="password">Password:</label>
    </div>
</div>