<!-- TODO: Remove this -->
<!-- <div class="row mos-u-spacer--margin-top-lg">
  <div class="column">
    <h1>MercerOS UI Starter kit</h1>
    <p>Welcome to the MercerOS UI Starter kit based on Angular CLI, please read the readme located in the root of this project and visit the documentation site for more detailed usage:</p>
    <p>
      Internal:
      <a href="http://usdf23v0218.mrshmc.com:3025/docs" target="_blank">http://usdf23v0218.mrshmc.com:3025/docs</a>
      <br> External:
      <a href="http://cryptic-dusk-44035.herokuapp.com">http://cryptic-dusk-44035.herokuapp.com</a>
    </p>
  </div>
</div>

<main>
  <router-outlet></router-outlet>
</main> -->

<main>
  <app-header></app-header>
  <app-alert></app-alert>
  <router-outlet></router-outlet>
  <!--<mercer-footer [corpSection]="false"></mercer-footer>-->
  <mercer-brand-bar style="position: fixed;bottom: 0;width: 100%;"></mercer-brand-bar>
  <!-- <app-footer></app-footer> -->
</main>