<div class="row main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
    <div class="columns mos-u-spacer--margin-bottom-md main-panel">
        <div class="row">
            <div class="small-1" style="min-height: 480px;">
                <table class="mos-c-table mos-u-table--bordered mos-u-table--striped mos-u-table--row-highlight" style="border: 1px solid lightgrey;">
                    <tr>
                        <th colspan="2" style="text-align:center;padding:5px;">
                            Toolbox
                        </th>
                    </tr>
                    <tr>
                        <td style="padding:5px;">

                            <div style="height:480px" #myPaletteDiv></div>
                        </td>
                    </tr>
                </table>
    
            </div>
            <div class="small-8" style="min-height: 480px;">
                <div style="border: 1px solid lightgrey; height: 100%" #myDiagramDiv></div>
            </div>
            <div class="small-3" style="min-height: 480px;">
                            <div style="border: 1px solid lightgrey; height:100%" #myPropertiesDiv>
                    <table class="mos-c-table mos-u-table--bordered mos-u-table--striped mos-u-table--row-highlight">
                        <tr>
                            <th colspan="2" style="text-align:center;padding:5px;">
                                Property Window
                            </th>
                        </tr>
                        <tr>
                            <td style="padding:5px;">
                                Text
                            </td>
                            <td style="padding:5px;">
                                <input type="text" class="property-box" (keyup)="nodeNameChanged()" [(ngModel)]="nodeName" name="nodeName">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:5px;">
                                Color
                            </td>
                            <td style="padding:5px;">
                                <input type="text" class="property-box" (keyup)="nodeColorChanged()" [(ngModel)]="nodeColor" name="nodeColor">
                            </td>
                        </tr>
                          <tr>
                            <td style="padding:5px;">
                                Connector
                            </td>
                            <td style="padding:5px;">
                                <input type="text" class="property-box" (keyup)="nodeConnectorChanged()" [(ngModel)]="nodeConnector" name="nodeConnector">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="small-12 columns" style="text-align:right !important;">
            <button style="margin:10px 10px 0 0 !important;" (click)="getTree($event)" mercer-button type="button" size="sm">Get
        Tree</button>
        </div>
    </div>
</div>