<div *ngIf="restapiSource">
    <div class="row mos-o-form-row">
        <div class="small-12 columns mos-o-form-input-field">
            <input id="resturl" type="text" name="resturl" placeholder="Please enter URL" title="" [(ngModel)]="restapiSource.url" (change)="valuechange($event)">
            <label for="resturl">URL:</label>
        </div>
    </div>
    <div class="row mos-o-form-row">
        <div class="small-12 columns mos-o-form-input-field">
            <input id="restmethod" type="text" name="restmethod" placeholder="REST method (GET or POST)" title="" [(ngModel)]="restapiSource.method" (change)="valuechange($event)">
            <label for="restmethod">Method:</label>
        </div>
    </div>
    <div class="row mos-o-form-row">
        <div class="small-12 columns mos-o-form-input-field">
            <textarea class="mos-u-resize--vertical" id="restheaders" name="restheaders" placeholder="Please enter header as object (if any)" title="" [(ngModel)]="headersAsString"  (change)="valuechange($event)"></textarea>
            <label for="restheaders">Headers:</label>
        </div>
    </div>
  </div>  