<div class="row">
    <div class="small-12 columns">

        <div class="row">
            <div class="small-10 columns">
                <input type="text" [(ngModel)]="filtermodelname" #txtmodel placeholder="Enter model name to search" (input)="applyfilter($event)"
                >
            </div>
            <div class="small-2 columns">
                <mercer-icon icon="search" size="xxlg"></mercer-icon>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="small-12 columns">
                <span class="instruction-text">Select the fulfillment model to implement...</span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="small-6 columns mos-o-form-inline-field">
                <div style="position: relative;">
                    <div style="border: solid 1px lightgrey; width:100%; height:200px" #intentFulfillmentGraph></div>
                </div>
            </div>
            <div class="small-6 columns mos-o-form-inline-field">
                <div style="height:200px; overflow-y:auto; overflow-x:hidden;">
                    <div *ngFor="let model of filtermodels">
                        <div class="row">
                            <div class="small-12 columns property-col">
                                <input [id]="model.name" type="radio" name="modelgroup" [value]="model._id" title="" [(ngModel)]="selectedmodelid" (ngModelChange)="onModelSelection(model)">
                                <label [for]="model.name"><span class="model-name">{{model.name}}</span></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>