.property-col {
  border: solid;
  border-width: 1px;
  border-color: #005c96;
  padding: 5px;
  margin-left: 10px;
}

.instruction-text {
  color: #005c96;
  font-weight: bold;
}
.model-name {
  font-size: large !important;
}
