<div class="connector-type-container">
  <div class="row mos-o-form-row top-button-panel">
    <div class="small-12 columns">
      <button mercer-fab-button type="button" icon="add" theme="success" class="mos-u-float-right" size="sm" (click)="reset();connectortypePopup.open()">New
        Connector Type</button>
    </div>
  </div>

  <div class="row">
    <div class="data-table">
      <mercer-table id="connectorTypeDataTable" [bordered]="true" [striped]="true" [sortable]="true" [headers]="connectortypeheaderData"
        [rows]="stripedrowData">
        <ng-template mercer-table-row let-row="row">
          <td style="padding-left: 10px;">
            {{row.name}}
          </td>
          <td style="padding-left: 30px;">
            {{row.category | uppercase}}
          </td>
          <td style="padding-left: 30px;">
            {{row.subcategory | uppercase}}
          </td>
          <td style="padding-left: 50px;">
             {{ (row.sysdefined)?'Yes':'No' }}
          </td>
          <td style="text-align: center">
            <div class="mos-u-display--inline-block">
              <button mercer-icon-button type="button" icon="mode_edit" alt="Edit" (click)="edit(row.connectortypeid); connectortypePopup.open()"
                mercer-tooltip mercer-tooltip-text="Edit" mercer-tooltip-position="bottom-left" mercer-tooltip-delay="100"></button>
            </div>
            <div class="mos-u-display--inline-block">
              <button mercer-icon-button type="button" [disabled]="row.sysdefined" icon="delete" alt="delete" (click)="delete(row.connectortypeid, row.name)"
                mercer-tooltip mercer-tooltip-text="Delete" mercer-tooltip-position="bottom-left" mercer-tooltip-delay="100"></button>
            </div>
          </td>
        </ng-template>
      </mercer-table>
      <mercer-pagination [paginationInfo]="paginationInfo" (paginationInfoRequest)="updatePage($event)" [showLimitOptions]="true"
        [showItemInfo]="true"></mercer-pagination>
    </div>
  </div>

  <mercer-modal #connectortypePopup escapable="true" theme="primary">
    <mercer-modal-header>
      <h3>{{ popuptitle }}</h3>
    </mercer-modal-header>
    <mercer-modal-content contentMaxHeight="400">

      <form [formGroup]="connectortypeForm" novalidate>
        <div class="row mos-o-form-row">
          <div class="small-12 columns mos-o-form-input-field">
            <input id="connectortype" type="text" formControlName="name" placeholder="Please enter unique connector type name" [(ngModel)]="connectortype.name">
            <label for="connectortype">Connector Type Name:</label>
          </div>
        </div>
        <div class="row mos-o-form-row">
          <div class="small-12 columns mos-o-form-input-field">
            <select formControlName="category" class="ecdropdown" [(ngModel)]="connectortype.category" (change)="populateSubCategories(connectortype.category)">
              <option selected value="">Select Category</option>
              <option *ngFor="let category of Categories" [value]="category">{{category | uppercase}}</option>
            </select>
            <label for="Category">Category:</label>
          </div>
        </div>
        <div class="row mos-o-form-row">
          <div class="small-12 columns mos-o-form-input-field">
            <select formControlName="subcategory" class="ecdropdown" [(ngModel)]="connectortype.subcategory">
              <option disabled value="">Select Subcategory</option>
              <option *ngFor="let subcategory of SubCategories" [value]="subcategory">{{subcategory | uppercase}}</option>
            </select>
            <label for="subCategory">SubCategory:</label>
          </div>
        </div>
        <div class="row mos-o-form-row">
          <div class="small-12 columns mos-o-form-input-field">
            <input type="text" formControlName="version" placeholder="Please specify for which version of data source this connector works"
              [(ngModel)]="connectortype.version">
            <label for="version">Version:</label>
          </div>
        </div>
        <div class="row mos-o-form-row">
          <div class="small-12 columns mos-o-form-input-field">
            <input type="text" formControlName="provider" placeholder="Please enter provider file (.connector.js) against this connector"
              [(ngModel)]="connectortype.provider" required>
            <label for="provider">Provider:</label>
          </div>
        </div>
        <div class="row mos-o-form-row">
          <div class="small-12 columns mos-o-form-input-field">
              <input type="checkbox" id="sytemDefined" formControlName="sytemDefined" title="" [(ngModel)]="connectortype.sysdefined">
              <label for="sytemDefined">System Defined</label>
          </div>
        </div>

      </form>

    </mercer-modal-content>
    <mercer-modal-footer>
      <div class="row align-right is-collapse-child mos-c-modal__actions">
        <div>
          <button mercer-button expandedOn="small" size="sm" (click)="saveClick(connectortypePopup)">Save</button>
        </div>
        <div>
          <button mercer-button expandedOn="small" [outline]="true" size="sm" (click)="connectortypePopup.close()">Cancel</button>
        </div>
      </div>
    </mercer-modal-footer>
  </mercer-modal>

</div>