.connector-type-container {
    .mos-o-form-row {
      margin-bottom: 0.3rem;
      line-height: 0.3rem;
  
      label {
        font-size: 0.87rem !important;
      }
    }
  
    td, th {
      padding: 0.2rem!important;
    }

    .row {
        max-width: 100%!important;
        padding: 10px;
    }
}

.top-button-panel {
    max-width: 100%;
}

.data-table {
    font-size: 0.8rem;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    height: 300px;
    overflow-y: auto;
  
    thead {
      background-color: #005C96 !important;
    }
  
    mercer-table > table > thead > tr > th > span {
      color:white;
      display: inline-block;
      padding: 0.8rem!important;
    }
    
    mercer-table > table > thead > tr > th > a {
      color:white;
      display: inline-block;
      padding: 0.6rem!important;
    }
  }

.Capitalize
{ text-transform: capitalize }

.ecdropdown {
    padding-left: 5px;
}