<div >
    <mercer-ec-dataset-source-rdbms *ngIf="(category |lowercase) =='rdbms'" 
    [reset]="resetsource" [source]="source" (onChange)="valuechange($event)" ></mercer-ec-dataset-source-rdbms>

    <mercer-ec-dataset-source-mongo *ngIf="(category |lowercase) =='nosql' && (subcategory |lowercase) =='mongodb'" 
    [reset]="resetsource" [source]="source" (onChange)="valuechange($event)" ></mercer-ec-dataset-source-mongo>

    <mercer-ec-dataset-source-restapi *ngIf="(category |lowercase) =='webapi' && (subcategory |lowercase) =='restapi'" 
    [reset]="resetsource" [source]="source" (onChange)="valuechange($event)" ></mercer-ec-dataset-source-restapi>

    <mercer-ec-dataset-source-soapapi *ngIf="(category |lowercase) =='webapi' && (subcategory |lowercase) =='soapapi'" 
    [reset]="resetsource" [source]="source" (onChange)="valuechange($event)" ></mercer-ec-dataset-source-soapapi>

    <p>
        <button mercer-button expandedOn="small" class="mos-u-float-right" [flat]="true" size="sm" (click)="datasetsourcehelp.open()">Help</button>
    </p>
</div>  

<mercer-modal #datasetsourcehelp escapable="true" theme="primary">
    <mercer-modal-header>
      <h3>Help - Define Source information for DataSet</h3>
    </mercer-modal-header>
    <mercer-modal-content contentMaxHeight="400">
        <div>
              1. Enclose the parameters with # symbol, for example, to define placeholder for parameter empid please use #empid#
        </div>
    </mercer-modal-content>
    <mercer-modal-footer>
      <div class="row align-right is-collapse-child mos-c-modal__actions">
        <div>
          <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="datasetsourcehelp.close()">Close</button>
        </div>
      </div>
    </mercer-modal-footer>
</mercer-modal>
