<!-- <app-header1></app-header1> -->
<div class="row main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
  <div class="columns side-nav">
      <ul class="accordion-menu animated">
      <li class="has-children">
        <a [routerLink]="['/nlp']"><input type="checkbox" name ="group-1" id="group-1" checked>
        <label for="group-1">NLP</label>

            <ul>
              <li>
               <a href=""> <input type="checkbox" name ="sub-group-1" id="sub-group-1">
                <label for="sub-group-1">Text Analysis</label></a>
              </li>
              <li>
                <a href=""><input type="checkbox" name ="sub-group-2" id="sub-group-2">
                <label for="sub-group-2">Text Classification</label></a>
              </li>
              <li class="has-children">
                <a href=""><input type="checkbox" name ="sub-group-3" id="sub-group-3">
                <label for="sub-group-3">Model Assets</label>

                <ul>
                  <li>
                    <a href=""><input type="checkbox" name ="sub-group-4" id="sub-group-4"><label for="sub-group-level-4">Entities</label></a>
                  </li>
                  <li>
                    <a href=""><input type="checkbox" name ="sub-group-5" id="sub-group-5"><label for="sub-group-level-5">Parts of Speech</label></a>
                  </li>
                  <li>
                    <a href=""><input type="checkbox" name ="sub-group-6" id="sub-group-6"><label for="sub-group-level-6">Word Dependency</label></a>
                  </li>
                </ul>
                </a>
              </li>
            </ul>
            </a>
        </li>

        <li>
          <a href=""><input type="checkbox" name ="group-2" id="group-2">
          <label for="group-2" class="selected">Intent Fulfillment</label></a>
        </li>

        <li>
          <a  [routerLink]="['/enterpriseconnector']"><input type="checkbox" name ="group-3" id="group-3">
          <label for="group-3">Enterprise Connector</label></a>
        </li>
      </ul> 

  </div>
  <div class="columns mos-u-spacer--margin-bottom-md main-panel">
    <h3>Intent Fulfillment</h3>
     <div class="row align-middle mos-u-spacer--margin-bottom-lg">
        
          <div class="columns small-10 mos-u-float-left">
            <label for="basicFormSuggestions">Utterance/Text</label>
            <textarea class="mos-u-resize--vertical ng-pristine ng-touched ng-invalid" id="basicFormSuggestions" name="basicFormSuggestions" required="" title=""></textarea>
            
          </div>
          <div class="columns small-2 mos-u-float-right">
            <button mercer-button type="button" class="buttons-width">Test</button>
          </div>
        

     </div>
     
      <div mercer-equalizer="headerEqualizer contentEqualizer footerEqualizer" class="row">
          <div class="columns small-4">
            <mercer-card isHoverShadow="true" theme="primary">
              <mercer-card-header>
                </mercer-card-header>
              <mercer-card-content>
                <div class="row mos-o-form-row">
                  <div class="small-12 columns mos-o-form-input-field">
                    <select id="selectMultipleItem" name="selectMultipleItem" title="" multiple>
                        <option value="1">Geography</option>
                        <option value="2">Time</option>
                        <option value="3">Employee</option>
                        <option value="4">Health Policy</option>
                      </select>
                    <label for="selectMultipleItem">Select Multiple</label>
                  </div>
                </div>
              </mercer-card-content>
              <mercer-card-footer>
                
              </mercer-card-footer>
            </mercer-card>
          </div>
          <div class="columns small-4">
            <mercer-card isHoverShadow="true" theme="secondary">
              <mercer-card-header>
                <div mercer-equalizer-child="headerEqualizer">
                  <h3>Intent Fulfillment Model</h3>
                </div>
              </mercer-card-header>
              <mercer-card-content>
              </mercer-card-content>
              <mercer-card-footer>
               
              </mercer-card-footer>
            </mercer-card>
          </div>
          <div class="columns small-4">
            <mercer-card isHoverShadow="true" theme="tertiary">
              <mercer-card-header>
                <div mercer-equalizer-child="headerEqualizer">
                  <h3>Intent Mapping</h3>
                </div>
              </mercer-card-header>
              <mercer-card-content>
                <mercer-table [footer]="true" [headers]="footerheaderData" [rows]="footerrowData">
                  <ng-template mercer-table-row let-row="row">
                    <td>
                      {{row.name}}
                    </td>
                    <td>
                      {{row.region}}
                    </td>
                    <td>
                      <a href="mailto:{{row.email}}">{{row.email}}</a>
                    </td>
                    <td>
                      <a href="{{row.website}}">{{row.website}}</a>
                    </td>
                  </ng-template>
                </mercer-table>
              </mercer-card-content>
              <mercer-card-footer>
                <div>
                  <button mercer-button type="button" >Edit</button>
                </div>
              </mercer-card-footer>
            </mercer-card>
          </div>
        </div>


  </div>
</div>