<div class="row main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
  <div class="columns mos-u-spacer--margin-bottom-md main-panel">
    <div class="row">
      <div class="columns project-header">
        <!--
                  <mercer-page-menu [currentroute]="currentroute" 
                  [projectname]="projectname" [projectcategory]="projectcategory"></mercer-page-menu>
              -->
        <app-breadcrumb childUrl="intentfulfillment" showTrainingButton="false"></app-breadcrumb>
      </div>
    </div>
    <div class="row">
      <div class="mos-c-accordion--raised  small-12">
        <mercer-accordion #accordionRef [expanded]="false">
          <mercer-accordion-close>
            <button mercer-icon-button size="xxlg" [icon]="accordionRef.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'" iconPosition="right"></button>
          </mercer-accordion-close>
          <mercer-accordion-static>
            <div class="row">
              <div class="columns shrink mos-o-body-2">Intent Name: {{intentfulfillmentModel.name}} </div>
            </div>
          </mercer-accordion-static>
          <mercer-accordion-expanded>
            <!--<div class="row">                            
                <b style="padding-left: 12px">Intent : </b>{{articles}} 
            </div>  
            <br>-->
            <div class="row">
              {{posTree}}

            </div>
            <br />
            <!-- <mercer-side-tab-group>
                <mercer-tab>
                  <ng-template mercer-tab-label>
                    <h3 class="mos-c-side-tabs__label-title">Nouns</h3>
                  </ng-template>
                  <mercer-tab-content>
                    Noun
                  </mercer-tab-content>
                </mercer-tab>
                <mercer-tab>
                  <ng-template mercer-tab-label>
                    <h3 class="mos-c-side-tabs__label-title">Verbs</h3>
                  </ng-template>
                  <mercer-tab-content>
                    Verb
                  </mercer-tab-content>
                </mercer-tab>
                <mercer-tab>
                  <ng-template mercer-tab-label>
                    <h3 class="mos-c-side-tabs__label-title">Adjectives</h3>
                  </ng-template>
                  <mercer-tab-content>
                    Adjective
                  </mercer-tab-content>
                </mercer-tab>
              </mercer-side-tab-group> -->
          </mercer-accordion-expanded>
        </mercer-accordion>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <select (change)="renderModel($event)" style="margin:1.5rem 0 !important;width:100% !important;">
          <option value="" selected>Select Domain Model</option>
          <option *ngFor="let v of models" [value]="v._id">{{v.name}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="small-4 columns block-header">
        Domain Model
      </div>
      <div class="small-6 columns align-right align-self-bottom block-header">
        Draw Fulfillment Model
      </div>
      <div class="small-2 columns align-right align-self-bottom block-header">
        Choose Fx
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns">
        <div style="border: solid 1px lightgrey; height: 275px" #domainModel></div>
      </div>
      <div class="small-6 columns">
        <div style="border: solid 1px lightgrey; height: 275px" #intentFulfillment></div>
      </div>
      <div class="small-2 columns">
        <div style="border: solid 1px lightgrey; height: 275px" #aggregationPipeline *ngIf="!showFunctionList"></div>

        <div style="border: solid 1px lightgrey; height: 275px" *ngIf="showFunctionList">
          <div class="mos-c-accordion--raised  small-12">
            <table>
              <tr>
                <td>
                  <mercer-accordion #accordionFunctionsList [isCondensed]="true">
                    <mercer-accordion-close>
                      <button mercer-icon-button size="xxlg" [icon]="accordionFunctionsList.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
                        iconPosition="right"></button>
                    </mercer-accordion-close>
                    <mercer-accordion-static>
                      <mercer-icon theme="primary" icon="content_paste" class="mos-u-spacer--margin-right-sm"></mercer-icon>

                      Functions
                    </mercer-accordion-static>
                    <mercer-accordion-expanded>
                      <div class="row">
                        <table>
                          <tr>
                            <td>
                              <input id="chkMin" type="checkbox" name="chkMin" title="">
                              <label for="chkMin">Minimum</label>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input id="chkMax" type="checkbox" name="chkMax" title="">
                              <label for="chkMax">Maximum</label>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input id="chkAverage" type="checkbox" name="chkAverage" title="">
                              <label for="chkAverage">Average</label>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input id="chkSummmation" type="checkbox" name="chkSummmation" title="">
                              <label for="chkSummmation">Summation</label>
                            </td>

                          </tr>
                        </table>
                      </div>
                    </mercer-accordion-expanded>
                  </mercer-accordion>
                </td>
              </tr>
              <tr>
                <td>
                  <mercer-accordion #accordionML [isCondensed]="true">
                    <mercer-accordion-close>
                      <button mercer-icon-button size="xxlg" [icon]="accordionML.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'" iconPosition="right"></button>
                    </mercer-accordion-close>
                    <mercer-accordion-static>
                      <mercer-icon theme="primary" icon="brightness_low" class="mos-u-spacer--margin-right-sm"></mercer-icon>
                      ML
                    </mercer-accordion-static>
                    <mercer-accordion-expanded>
                      <div class="row">
                        <table>
                          <tr>
                            <td>
                              <input id="chkSupervised" type="checkbox" name="chkSupervised" title="">
                              <label for="chkSupervised">Supervised</label>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <input id="chkUnsupervised" type="checkbox" name="chkUnsupervised" title="">
                              <label for="chkUnsupervised">UnSupervised</label>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </mercer-accordion-expanded>
                  </mercer-accordion>

                </td>
              </tr>
            </table>

          </div>
        </div>
      </div>
    </div>

    <div class="row" style="display:-webkit-inline-box;">
      <div class="small-4 columns" style="display: inline-flex;padding:5px;">
        <button mercer-icon-button type="button" style="padding-left: 5px;padding-right: 2px;" icon="add" alt="New" (click)="showModel();"></button>
        <span style="margin-top:5px;padding-right: 5px;">New</span>
        <button mercer-icon-button type="button" style="padding-left: 5px;padding-right: 2px;" icon="mode_edit" alt="Edit" (click)="showModel();"></button>
        <span style="margin-top:5px;padding-right: 5px;">Edit</span>
        <button mercer-icon-button type="button" style="padding-left: 5px;padding-right: 2px;" icon="content_copy" alt="Copy" (click)="showModel();"></button>
        <span style="margin-top:5px;padding-right: 5px;">Copy</span>
      </div>

      <div class="small-4 columns">

      </div>
      <div class="small-4 columns">

      </div>
    </div>

    <div class="row">
      <div class="small-4 columns">

      </div>
      <div class="small-4 columns align-right">

      </div>
      <div class="small-4 columns" style="text-align:right !important;">
        <!-- <button style="margin:10px 10px 0 0 !important;" (click)="loadModel()" mercer-button type="button" size="sm">Load Model</button> -->
        <button style="margin:10px 0 0 0 !important;" (click)="saveIntentffModel($event, false)" mercer-button type="button" size="sm">Save
            </button>
        <button style="margin:10px 0 0 0 !important;" [disabled]="implementButtonDisabled" (click)="saveIntentffModel($event, true)" [outline]="true" mercer-button type="button"
          size="sm">Implement </button>
      </div>
    </div>
  </div>
</div>
<!-- <mercer-tab-group class="mercer-tabs">
      <mercer-tab>
        <ng-template mercer-tab-label>
          Disabled Tab
        </ng-template>
        <mercer-tab-content>
        </mercer-tab-content>
      </mercer-tab>

      <mercer-tab *ngFor="let model of models">
        <ng-template mercer-tab-label>
          {{model.name}}
        </ng-template>
        <mercer-tab-content>
          <p>{{model.body | json}} </p>
        </mercer-tab-content>
      </mercer-tab>
    </mercer-tab-group>  -->