<div class="row align-center">
  <div class="column small-11">

    <div class="row align-center mos-u-spacer--margin-sm">
      <div class="column shrink">
        <h1>MercerOS UI Platform</h1>
      </div>
    </div>
    <div class="row">
      <div class="column"></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
