<div *ngIf="rdbmsSource">
  <ul class="mos-o-form-list-inline">
          <li>
            <input id="srctable" type="radio" name="rdbmsSourcetype" value="table" [(ngModel)]="rdbmsSource.sourcetype" title=""  checked>
            <label for="srctable">Table</label>
          </li>
          <li>
            <input id="srcproc" type="radio" name="rdbmsSourcetype" value="proc" title="" [(ngModel)]="rdbmsSource.sourcetype">
            <label for="srcproc">Stored Procedure</label>
          </li>
          <li>
              <input id="srcsql" type="radio" name="rdbmsSourcetype" value="sql" title="" [(ngModel)]="rdbmsSource.sourcetype">
              <label for="srcsql">SQL String </label>
          </li>
  </ul>

  <br/>

 

  <div *ngIf="rdbmsSource.sourcetype=='table'">
          <div class="row mos-o-form-row">
                  <div class="small-12 columns mos-o-form-input-field">
                    <input id="schema" type="text" name="schema" placeholder="Specific database schema, for example - dbo" title="" [(ngModel)]="rdbmsSource.schema" (change)="valuechange($event)">
                    <label for="schema">Schema:</label>
                  </div>
          </div>
          <div class="row mos-o-form-row">
              <div class="small-12 columns mos-o-form-input-field">
                <input id="table" type="text" name="table" placeholder="Enter table name" title=""  [(ngModel)]="rdbmsSource.table" (change)="valuechange($event)">
                <label for="table">Table:</label>
              </div>
            </div>
            <div class="row mos-o-form-row">
              <div class="small-12 columns mos-o-form-input-field">
                <input id="Columns" type="text" name="Columns" placeholder="Enter column names separated by comman or * for all columns" title="" [(ngModel)]="rdbmsSource.columns" (change)="valuechange($event)">
                <label for="Columns">Columns:</label>
              </div>
            </div>
            <div class="row mos-o-form-row">
              <div class="small-12 columns mos-o-form-input-field">
                <input id="criteria" type="text" name="criteria" placeholder="WHERE condition" title="" [(ngModel)]="rdbmsSource.filter" (change)="valuechange($event)">
                <label for="criteria">Filter Criteria:</label>
              </div>
            </div>
  </div>

  <div *ngIf="rdbmsSource.sourcetype=='proc'">
          <div class="row mos-o-form-row">
              <div class="small-12 columns mos-o-form-input-field">
                  <input id="procname" type="text" name="procname" placeholder="Stored Procedure Name" title="" [(ngModel)]="rdbmsSource.procedure.name" (change)="valuechange($event)">
                  <label for="procname">Procedure Name:</label>
              </div>
          </div>
          <div class="row mos-o-form-row">
              <div class="small-12 columns mos-o-form-input-field">
                  <textarea class="mos-u-resize--vertical" id="procparams" type="text" name="procparams" placeholder="Parameter Names separated by comma" title="" [(ngModel)]="procparamscommaseparated"  (change)="valuechange($event)"></textarea>
                  <label for="procparams">Parameters:</label>
              </div>
          </div>
  </div>

  <div *ngIf="rdbmsSource.sourcetype=='sql'">
          <div class="row mos-o-form-row">
              <div class="small-12 columns mos-o-form-input-field">
                  <textarea class="mos-u-resize--vertical" id="sqlstr" type="text" name="sqlstr" placeholder="Enter the complete sql string" title="" [(ngModel)]="rdbmsSource.sql"  (change)="valuechange($event)"></textarea>
                  <label for="sqlstr">SQL Query:</label>
              </div>
          </div>
  </div>
</div>  