<mercer-header [alwaysShowLinks]="true">

  <mercer-header-menu-trigger>
    <a (click)="headerSideNavOther.open()">
      <mercer-icon icon="menu" size="xlg" alt="Menu"></mercer-icon>
    </a>
  </mercer-header-menu-trigger>

  <!--<mercer-header-logo>
    <a href="#/"><img class="mos-u-responsive-img" src="{{mosConfig.assetUrl}}img/logos/mercer/mercer_logo_rgb.png" alt="Mercer"></a>
  </mercer-header-logo>-->

  
  <mercer-header-title>
    <h3>MERCEROS Platform AI/ML Framework</h3>
  </mercer-header-title>
  

  <mercer-header-links class="show-for-large">
    <ul class="row collapse mos-c-header__menu">
      <li class="columns shrink" routerLinkActive="mos-c-header__menu-item--active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/nlp']">NLP</a>
      </li>
      <li class="columns shrink" routerLinkActive="mos-c-header__menu-item--active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/intent-fulfillment']">Intent Fulfillment</a>
      </li>
      <li class="columns shrink" routerLinkActive="mos-c-header__menu-item--active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/enterprise-connector']">Enterprise Connector</a>
      </li>
    </ul>
  </mercer-header-links>

  <mercer-header-logged-out>
    <a href="">Welcome Rick</a>
  </mercer-header-logged-out>

</mercer-header>
  <div class="small-12  header-area-bot columns mos-u-spacer--margin-bottom-lg">
    <div class="small-6 columns mos-u-float-left">
      <h3>Wanda Bot</h3>
    </div>
    <div class="small-6 columns mos-u-float-right">
       <button mercer-button type="button" class="buttons-width">Test</button>
    </div>
    </div>

<mercer-side-nav #headerSideNavOther>
  <mercer-side-nav-logo>
    <a href="#/">
      <img class="mos-u-responsive-img" src="{{mosConfig.assetUrl}}img/logos/mercer/mercer_logo_rgb.png" alt="Mercer">
    </a>
  </mercer-side-nav-logo>

  <mercer-side-nav-group>
    <mercer-side-nav-group-item itemTitle="NLP" link="" [active]="true">
    </mercer-side-nav-group-item>
    <mercer-side-nav-group-item itemTitle="Intent Fulfillment" link="">
    </mercer-side-nav-group-item>
    <mercer-side-nav-group-item itemTitle="Enterprise Connector" link="">
    </mercer-side-nav-group-item>
  </mercer-side-nav-group>

  <!--<mercer-side-nav-group groupTitle="Dropdown">
    <mercer-side-nav-group-item itemTitle="Dropdown link 1" link="#/">
    </mercer-side-nav-group-item>
    <mercer-side-nav-group-item itemTitle="Dropdown link 2" link="#/">
    </mercer-side-nav-group-item>
    <mercer-side-nav-group-item itemTitle="Dropdown link 3" link="#/">
    </mercer-side-nav-group-item>
  </mercer-side-nav-group>
</mercer-side-nav>
-->
<!-- ENHANCE HEADER - AUTHENTICATED - ENDS -->