<mercer-footer [brandBar]="true" [corpSection]="true">

  <!-- FOOTER LOGO - BEGINS -->
  <mercer-footer-logo>
    <img class="mos-u-responsive-img" src="{{mosConfig.assetUrl}}img/logos/mmc/mmc_logo_rgb.png" width="212">
  </mercer-footer-logo>
  <!-- FOOTER LOGO - ENDS -->
  <!-- SOCIAL MEDIA SECTION - BEGINS -->
  <mercer-footer-social-badges>
    <ul class="mos-u-no-list-style mos-u-list-inline mos-c-footer__social-icons">
      <li>
        <mercer-social-badge href="http://www.linkedin.com/company/mercer" icon="linkedin2" customClass="mos-c-social-badge--linkedin"
          target="_blank" alt="LinkedIn"></mercer-social-badge>
      </li>
      <li>
        <mercer-social-badge href="https://www.twitter.com/mercer" icon="twitter" customClass="mos-c-social-badge--twitter" target="_blank"
          alt="Twitter"></mercer-social-badge>
      </li>
      <li>
        <mercer-social-badge href="https://www.facebook.com/MercerInsights" icon="facebook" customClass="mos-c-social-badge--facebook"
          target="_blank" alt="Facebook"></mercer-social-badge>
      </li>
      <li>
        <mercer-social-badge href="http://www.youtube.com/user/mercervideo" icon="youtube" customClass="mos-c-social-badge--youtube"
          target="_blank" alt="YouTube"></mercer-social-badge>
      </li>
    </ul>
  </mercer-footer-social-badges>
  <!-- SOCIAL MEDIA SECTION - ENDS -->

  <div class="columns small-12 medium-4 large-6 footerAbs">
    <dl class="columns small-12 medium-12">
      <dt>Quick Links</dt>
      <dd><a [routerLink]="['/aboutmercer']" target="_blank">About Mercer</a></dd>
    </dl>
    <dl class="columns small-12 medium-12">
      <dd><a [routerLink]="['/privacypolicy']" target="_blank">Privacy Policy</a></dd>
      <dd><a [routerLink]="['/termsofuse']" target="_blank">Terms of Use</a></dd>
    </dl>
  </div>
  <!--  <div class="columns small-12 medium-6 large-3 footerAbs">
  
  </div> -->

  <div class="columns small-12 medium-4 large-3 lastNav">
    <dl>
      <dt>Contact Us</dt>
      <dd><a style="pointer-events:none;"><i class="fa fa-phone" aria-hidden="true"></i>ContactPhone</a></dd>
      <dd><a style="text-decoration:none;" href="mailto: {{'Footer.ContactEmail'  }}"><i class="fa fa-envelope" aria-hidden="true"></i>{{ "Footer.ContactEmail"  }}</a></dd>
    </dl>
  </div>

  <!-- CORP LINKS - BEGINS -->
  <mercer-footer-corp-links>
    <li><a href="#/"></a></li>
    <li><a href="#/"></a></li>

  </mercer-footer-corp-links>
  <!-- CORP LINKS - ENDS -->
</mercer-footer>