<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="oracle.connectstring" (change)="valuechanged()">
        <label for="connectstring">Connection String:</label>
    </div>
</div>
<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="oracle.user" (change)="valuechanged()">
        <label for="user">Username:</label>
    </div>
    <div class="columns small-6 mos-o-form-input-field">
        <input type="text" [(ngModel)]="oracle.password" (change)="valuechanged()">
        <label for="password">Password:</label>
    </div>
</div>