<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-6 mos-o-form-input-field">
        <input id="baseurl" type="text" name="baseurl" [(ngModel)]="restapi.baseurl" placeholder="url" title="">
        <label for="baseurl">Base Url:</label>
    </div>
    <div class="columns small-6 mos-o-form-input-field">
        <input id="proxy" type="text" name="proxy" [(ngModel)]="restapi.proxy" placeholder="proxy" title="">
        <label for="proxy">Proxy:</label>
    </div>
</div>

<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-12 mos-o-form-input-field">
        <textarea class="mos-u-resize--vertical" id="headers" [(ngModel)]="restapi.headersString" type="text" name="headers" placeholder="headers" title=""></textarea>
        <label for="headers">Headers:</label>
    </div>
</div>

<label>Session Info:</label>
<div class="row mos-u-spacer--margin-bottom-lg">
    <div class="columns small-12 mos-o-form-input-field">
        <input id="sessioninfourl" type="text" name="sessioninfourl" [(ngModel)]="restapi.sessioninfo.options.url" placeholder="session url" title="">
        <label for="sessioninfourl">Url:</label>
    </div>
    <div class="columns small-12 mos-o-form-input-field">
        <textarea class="mos-u-resize--vertical" id="sessioninfoheaders" [(ngModel)]="restapi.sessioninfo.options.headersString" type="text" name="sessioninfoheaders" placeholder="session headers" title=""></textarea>
        <label for="sessioninfoheaders">Headers:</label>
    </div>
</div>

<label>Authorization token</label>
<div class="row mos-u-spacer--margin-bottom-lg">
        <div class="columns small-6 mos-o-form-input-field">
            <input id="sessioninfotokeninkey" type="text" name="sessioninfotokeninkey" [(ngModel)]="restapi.sessioninfo.tokenkey.inkey" placeholder="Key name received in response from server" title="">
            <label for="sessioninfotokeninkey">Token In Key:</label>
        </div>
        <div class="columns small-6 mos-o-form-input-field">
                <input id="sessioninfotokenoutkey" type="text" name="sessioninfotokenoutkey" [(ngModel)]="restapi.sessioninfo.tokenkey.outkey" placeholder="Key name of auth token send in request to server" title="">
                <label for="sessioninfotokenoutkey">Token Out Key:</label>
            </div>
</div>