.page-menu {
    margin-top:-3px;
    margin-bottom: 20px;
    font-size:1rem;
    font-weight:bold;
    max-width: 100%!important;
}

.current-page {
    color:#005C96;
    background-color:#e6fbff;
}

.other-page {
    color:#b3b2b2;
}

.page-header {
    margin-top:-20px!important;
    margin-bottom:5px!important;
}

.page-title {
    font-size: 1rem !important;
    font-weight:bold;
}

.project-label {
    font-size: 0.8rem !important;
    font-weight:bold;
}

.project-label-text {
    font-size: 0.8rem !important;
    font-style: italic;
}