   <!--
<div class="row align-middle mos-u-spacer--margin-bottom-lg page-menu">
 
    <div class="small-3 columns mos-o-form-inline-field" *ngFor="let menu of menuoptions">
        <a (click)="navigateto(menu.route)">
            <span [class]="menu.class">{{menu.displayname}}</span>
        </a>
    </div>
</div>
-->

<h3 class="page-header">
    <span class="page-title">
        Intent Implementation
    </span>
    <span class="project-label">[Project Name: </span>
    <span class="project-label-text">{{projectname}} </span>

    <span class="project-label"> , Project Category: </span> 
    <span class="project-label-text">{{projectcategory}} </span>
    <span class="project-label"> ] </span>

</h3>