<div>
  <!--<h1 (click)="loadNoContentPage()">{{data}}</h1>-->


  <div class="page">

    <div class="banner">
      <img *ngIf="!headerImageToShow" [src]="noImageUrl" alt="" title="">
      <img [src]="headerImageToShow" alt="" title="" *ngIf="headerImageToShow" (click)="HeaderImageClick();">
      <section class="bannerAbsContainer">
        <section class="bannerAbs prodDetailBanner">
          <p>TermsOfUse.termsOfUseTitle</p>
        </section>
      </section>
    </div>

    <div class="main-content">
      <div class="page_Container">
        <!-- <div class="pageContent" [innerHTML]="TermsOfUse.termsOfUseContent">
        </div> -->
      </div>
    </div>
  </div>
</div>