<div class="row main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg"
  item-width="100%">

  <div class="small-15 columns mos-u-float-right mos-u-spacer--margin-bottom-md main-panel">
    <div>
      <!-- <app-breadcrumb [childUrl]="childMessage" [isTrained]="this.isTrained" (clicked)="onTrainedClick($event)"></app-breadcrumb> -->
      <app-breadcrumb [childUrl]="childMessage" [isTrained]="this.isTrained" (clicked)="onTrainedClick($event)" [showTrainingButton]="true"></app-breadcrumb>
    </div>
    <!-- <div>
    <app-intentanalysis [hideIntent]="modelExists"></app-intentanalysis>
  </div> -->
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
      <!-- <div class="row">
      <div class="col">
        <h3>Add / Edit Utterances</h3>
      </div>
    </div> -->
      <!-- <div class="row">
      <div class="small-12 columns mos-o-form-input-field">
        <select id="selectItem" name="selectItem" title="" [(ngModel)]="model.CategoryName">
        <option value="" disabled selected>Choose Intent</option>
        <option *ngFor="let obj of this.IntentCategorys" value="{{obj.CategoryName}}">{{obj.CategoryName}}</option>
      </select>

      </div>
    </div> -->

      <div class="row align-middle mos-u-spacer--margin-bottom-lg">
        <div class="columns small-9">
          <input type="text" placeholder="Enter an Utterance" class="form-control" name="UtteranceText" [(ngModel)]="this.model.UtteranceText"
            #UtteranceText="ngModel" required />
          <div *ngIf="f.submitted && !UtteranceText.valid" class="help-block">UtteranceText is required</div>
        </div>
        <div class="columns small-2 text-right">
          <!-- <button mercer-button type="button" (click)="getIntent(this.modelName, this.model.UtteranceText)">Get Intent</button> -->
          <button mercer-button type="button" (click)="getIntents(intentDetails, this.model.UtteranceText)" [disabled]="this.model.UtteranceText==null || this.model.UtteranceText.length===0 || this.intentClicked === true">Get Intent</button>
          <!-- <button mercer-icon-button type="button" icon="delete" alt="delete" (click)="intentDetails.open()"></button> -->

          <mercer-modal #intentDetails escapable="true" size="xlg" theme="primary">
            <mercer-modal-header>
              <h3>Model Name : {{this.modelName}}</h3><br/>
              <div class="row align-middle mos-u-spacer--margin-bottom-lg">
                <!-- <div class="small-1 columns">
                <h4>Utterance:</h4>
              </div> -->

                <div class="small-10 columns">
                  <input type="text" placeholder="Enter an Utterance" class="form-control" name="dialogUtt" [(ngModel)]="this.model.UtteranceText"
                    #dialogUtt="ngModel" required />
                </div>

                <div class="small-2 columns">
                  <button mercer-button type="button" (click)="getIntents(null,this.model.UtteranceText)" [disabled]="this.model.UtteranceText==null || this.model.UtteranceText.length===0 || this.intentClicked === true">Get Intent</button>
                </div>
              </div>
              <!-- {{this.model.UtteranceText}}</h4> -->
            </mercer-modal-header>

            <mercer-modal-content>
              <div class="small-15 columns mos-u-float-center mos-u-spacer--margin-bottom-md main-panel">
                <table>
                  <!-- <tr>
                  <td> -->
                  <!-- <h3>Model Name :{{this.modelName}} </h3> -->
                  <!-- <h3>Model Name :{{this.modelName}}, Utterance: {{this.inputIntent}}</h3>
                  </td>
                </tr> -->
                  <!-- <tr>
                          <td>
                              <h4>Utterance/Text</h4>
                          </td>
                      </tr>
                      <tr>
                          <td>
                              <input type="text" item-width="200px" [(ngModel)]="inputIntent" name="utteranceText">
                          </td>
                      </tr>
                      <tr align="right">
                          <td align="right">
                              <button mercer-button type="button" (click)="getIntents()" expandedOn="small">Get Intent</button>
                          </td>
                      </tr> -->
                  <tr *ngIf="articles" item-width="400px">
                    <td>
                      <mercer-tab-group [condensed]="true" activeTheme="primary" borderTheme="primary" [useSideScroll]="true">
                        <mercer-tab>
                          <ng-template mercer-tab-label>Intents</ng-template>
                          <mercer-tab-content>
                            <table border="1">
                              <tr>
                                <th width="200">Intents</th>
                              </tr>
                              <tr>
                                <td>
                                  <table>
                                    <tr>
                                      <td *ngFor="let obj of this.IntentScoreModel">
                                        <table border="1">
                                          <tr>
                                            <th width="200" style="background-color:lightgray">{{obj.key}}</th>
                                          </tr>
                                          <tr>
                                            <td>{{obj.value}}</td>
                                          </tr>
                                        </table>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </mercer-tab-content>
                        </mercer-tab>
                        <mercer-tab>
                          <ng-template mercer-tab-label>
                            Entities
                          </ng-template>
                          <mercer-tab-content>
                            <br />
                            <table>
                              <tr>
                                <td *ngFor="let obj of articles.Entities" item-width="600px">
                                  <table border="1">
                                    <tr>
                                      <th width="60px" style="background-color:lightgray">{{obj.entity_type | json}}</th>
                                    </tr>
                                    <tr>
                                      <td>
                                        {{obj.value | json}}
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>
                          </mercer-tab-content>
                        </mercer-tab>

                        <mercer-tab>
                          <ng-template mercer-tab-label>JsonTree</ng-template>
                          <mercer-tab-content>
                            <div [innerHTML]="this.JsonTree"></div>
                          </mercer-tab-content>
                        </mercer-tab>
                        <mercer-tab>
                          <ng-template mercer-tab-label>Context</ng-template>
                          <mercer-tab-content>
                            <table border="1">
                              <tr>
                                <th width="200" style="background-color:lightgray">Nouns</th>
                              </tr>
                              <tr>
                                <td item-width="70%">
                                  <span *ngFor="let obj of articles.Nouns">{{obj.value | json}}
                                                          <font ng-show="!$last">,</font>
                                                      </span>
                                </td>
                              </tr>
                            </table>
                            <table border="1">
                              <tr>
                                <th width="450" style="background-color:lightgray">Verbs</th>
                              </tr>
                              <tr>
                                <td width="450">
                                  <span *ngFor="let obj of articles.Verbs">{{obj.value | json}}
                                                          <font ng-show="!$last">,</font>
                                                      </span>
                                </td>
                              </tr>
                            </table>
                            <table border="1">
                              <tr>
                                <th width="200" style="background-color:lightgray">Adjectives</th>
                              </tr>
                              <tr>

                                <td width="450">
                                  <span *ngFor="let obj of articles.ADJ">{{obj.value | json}}
                                                          <font ng-show="!$last">,</font>
                                                      </span>
                                </td>
                              </tr>
                            </table>
                            <table border="1">
                              <tr>
                                <th width="200" style="background-color:lightgray">Part of Speech</th>
                              </tr>
                              <tr>
                                <td>{{articles.POS | json}}</td>
                              </tr>
                            </table>
                          </mercer-tab-content>
                        </mercer-tab>
                      </mercer-tab-group>
                    </td>
                  </tr>
                </table>
              </div>
            </mercer-modal-content>
            <mercer-modal-footer>
              <div class="row align-right is-collapse-child mos-c-modal__actions" *ngIf="articles || this.model.editable === false">
                <div>
                  <button mercer-button type="button" [flat]="true" (click)="saveOptions.open()">Add</button>
                </div>
              </div>

              <mercer-modal #saveOptions escapable="true" theme="primary">
                <mercer-modal-header>
                  <h3>Save Utterance</h3>
                </mercer-modal-header>
                <mercer-modal-content contentMaxHeight="400">
                  <div class="row mos-o-form-row">
                    <div class="small-6 columns mos-o-form-input-field">
                      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !projectType.valid }">
                        <select name="intentName" [(ngModel)]="model.intentName" #intentName="ngModel" title="">
                            <!-- <option value="none" selected>None</option> -->
                            <!-- <option value="-2" disabled>Add new...</option> -->
                            <option *ngFor="let intent of modelIntents" [value]="intent.CategoryName">{{intent.CategoryName}}</option>
                          </select>
                        <label for="intentName" data-mos-hint-text="Choose an Intent" data-mos-invalid-text="" data-mos-valid-text="">Intent Name</label>
                        <div *ngIf="f.submitted && !intentName.valid" class="help-block">Intent name is required</div>
                      </div>
                    </div>
                    <div class="small-6 columns">
                      <div class="mos-u-display--inline-block">
                        <button mercer-icon-button type="button" class="BtnfloatLeft" icon="add" alt="Add" (click)="addIntent()"></button>
                        <div *ngIf="model.newIntent">
                          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !intent.valid }">
                            <input name="intent" type="text" placeholder="Enter an Intent name" [(ngModel)]="model.intent" #intent="ngModel" #intent
                              required>
                            <div *ngIf="f.submitted && !intent.valid" class="help-block">Intent Name is required</div>
                            <button mercer-button type="button" size="sm"  [outline]="true"  iconPosition="left"  icon="add" (click)="saveIntent()">Add</button>
                              <button mercer-button type="button" size="sm"  [outline]="true"  iconPosition="left"  icon="cancel" (click)="cancelAddIntent()">Cancel</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mercer-modal-content>
                <mercer-modal-footer>
                  <div class="row align-right is-collapse-child mos-c-modal__actions">
                    <div>
                      <button mercer-button type="button" (click)="addIntentUtterance(intentDetails,saveOptions,model.intentName)">Save</button>
                    </div>
                    <div>
                      <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="saveOptions.close()">Cancel</button>
                    </div>
                  </div>
                </mercer-modal-footer>
              </mercer-modal>
            </mercer-modal-footer>
          </mercer-modal>
        </div>
      </div>

      <div class="row align-middle mos-u-spacer--margin-bottom-lg">
        <div class="columns small-5">
          <!-- <button mercer-button type="button" expandedOn="small" (click)="infoExample.open()">Create New Language Model</button> -->
          <mercer-modal #editUtt escapable="true" theme="primary" size="sm">
            <mercer-modal-header>
              <h3>Edit Utterance</h3>
            </mercer-modal-header>

            <mercer-modal-content contentMaxHeight="400">
              <form novalidate>
                <div class="row mos-o-form-row">
                  <div class="small-12 columns mos-o-form-input-field">
                    <input id="basicFormName" type="text" [(ngModel)]="model.edited.text" name="basicFormName" [placeholder]="this.isEditing ? '':'Type Model Name here'"
                      title="" required #basicFormName="ngModel" #basicFormName>
                    <label for="basicFormName" data-mos-hint-text="" data-mos-invalid-text="" data-mos-valid-text="">Text
                      <span class="mos-o-form-required-icon">*</span>
                    </label>
                  </div>
                </div>
                <div class="row mos-o-form-row">
                  <div class="small-12 columns mos-o-form-input-field">
                    <select name="ddIntent" [(ngModel)]="model.edited.catId" #ddIntent="ngModel" title="" required>
                          <option value="-1" disabled>Choose a Intent Classification Category</option>
                          <option *ngFor="let intent of modelIntents" [value]="intent._id">{{intent.CategoryName}}</option>
                      </select>
                    <label for="ddIntent" data-mos-hint-text="**Classification Category is used for intent classification" data-mos-invalid-text=""
                      data-mos-valid-text="">Classification Category<span class="mos-o-form-required-icon">*</span>
                  </label>
                  </div>
                </div>
              </form>
            </mercer-modal-content>
            <mercer-modal-footer>
              <div class="row align-right is-collapse-child mos-c-modal__actions">
                <div>
                  <button mercer-button expandedOn="small" size="sm" (click)="updateUtterance(editUtt)">Save</button>
                </div>
                <div>
                  <button mercer-button expandedOn="small" [outline]="true" size="sm" (click)="editUtt.close()">Cancel</button>
                </div>
              </div>
            </mercer-modal-footer>
          </mercer-modal>
        </div>
        <!-- <div class="columns small-4">
          <button mercer-button type="button" expandedOn="small">Import pre-built models</button>
        </div> -->
      </div>

      <mercer-table [striped]="true" [headers]="stripedheaderData" [rows]="stripedrowData">
        <ng-template mercer-table-row let-row="row">
          <td width="10%">{{row.CategoryName}}</td>
          <td width="25%">
            <div [innerHTML]="row.POS"></div>
          </td>
          <td width="30%" (mouseup)="showSelectedText(row.UtteranceText,infoExample1,row._id,row.CategoryName)">
            <div class="row">
              <div class="col>">
                <app-highlighted-text [fullText]="row.UtteranceText" [searchText]="this.getEntities(row.UtteranceText)"></app-highlighted-text>
              </div>
              <!--  <div class="col columns shrink">
                <button mercer-fab-button type="button" icon="star" alt="Star"></button>
              </div> -->
              <div class="col" *ngIf="this.selectedText!='' && this.selectedRow == row._id">
                <button mercer-icon-button type="button" icon="person_add" (click)="infoExample1.open();" alt="More"></button>
              </div>
            </div>

            <!--  <ul>
            <li *ngFor="let item of items" (contextmenu)="onContextMenu($event, item)">Right Click: {{item.name}}</li>
        </ul> -->
          </td>
          <!-- <td>{{row.Category.CategoryName}}</td> -->
          <!-- <td>{{row.CategoryName}}</td> -->
          <td width="20%">
            <div class="row small-12 columns">
              <!-- <div class="small-{{row.ScoreMismatch === true ? 10:12}} columns"> -->
              <div class="small-10 columns">
                <!-- <select name="categoryName" [(ngModel)]="model.categoryName" #categoryName="ngModel" title=""> -->
                <select name="categoryName" title="" size="lg" class="thinview">
                <!-- <option *ngFor="let score of this.getUtteranceScores(row.Category.CategoryName,row.UtteranceText)" [value]="score.key">{{score.key}} ({{score.value}})</option> -->
                <!-- <option *ngFor="let score of this.getUtteranceScores(row.TrainingScores)" [value]="score.key">{{score.key}} ({{score.value | number:'1.3' }})</option>                  -->
                <!-- <option *ngFor="let score of row.scores" [value]="score.key" [selected]="row.CategoryName===score.key" style="color:'{{row.CategoryName===score.key? 'red':'orange'}}'">{{score.key}} ({{score.value | number:'1.3' }})</option> -->
                <!-- <option *ngFor="let score of row.scores" [value]="score.key" [selected]="row.CategoryName===score.key" [ngClass]="{'ddlRed':row.CategoryName===score.key && score.index > 0}">{{score.key}} ({{score.value | number:'1.3' }})</option> -->
                <option *ngFor="let score of row.scores" [value]="score.key" [selected]="row.CategoryName===score.key">{{score.key}} ({{score.value | number:'1.3' }})</option>
              </select>
              </div>

              <div class="small-2 columns" *ngIf="row.ScoreMismatch === true">
                <mercer-badge theme="alert-light" size="xxsm">Review Intent</mercer-badge>
                <!-- <mercer-chip [isRemovable]="false">Please review the score</mercer-chip> -->
                <!-- <mercer-icon icon="adjust" size="sm" alt="Please review the score"></mercer-icon> -->
              </div>
            </div>
          </td>
          <td width="5%">No</td>
          <td width="10%">
            <div class="mos-u-display--inline-block" *ngIf="this.model.editable === true">
              <button class="BtnfloatLeft" mercer-icon-button type="button" icon="delete" alt="delete" (click)="confirmDialog.open()"></button>

              <mercer-modal #confirmDialog escapable="true" size="sm" iconType="error" [showHeader]="false" alternativeTitle="Delete Utterance - {{row.UtteranceText}}"
                theme="alert">

                <mercer-modal-content contentMaxHeight="400">
                  <p>Are you sure you want to delete this utterance and its associated entities?</p>
                </mercer-modal-content>
                <mercer-modal-footer>
                  <div class="row align-right is-collapse-child mos-c-modal__actions">
                    <div>
                      <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="confirmDialog.close()">No</button>
                    </div>
                    <div>
                      <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="deleteUtterance(row._id, this.modelName, confirmDialog)">Yes</button>
                    </div>
                  </div>
                </mercer-modal-footer>
              </mercer-modal>
            </div>
            <div class="mos-u-display--inline-block" *ngIf="this.model.editable === true">
              <button class="BtnfloatLeft" mercer-icon-button type="button" icon="mode_edit" alt="edit" (click)="editUtterance(editUtt,row)"></button>
            </div>

            <div class="mos-u-display--inline-block">
              <button class="BtnfloatLeft" mercer-icon-button type="button" icon="queue_play_next" alt="next" (click)="goToNext(row._id,row.CategoryName)"></button>
              <!-- <a (click)="showSimilarUtterances(row.UtteranceText, infoExample)">Get Similar Utterances</a> -->
            </div>
          </td>
        </ng-template>
      </mercer-table>
      <mercer-pagination (paginationInfoRequest)="updatePage($event)" [paginationInfo]="paginationInfo" [showLimitOptions]="true"></mercer-pagination>
      <mercer-modal #infoExample escapable="true" iconType="error" [backdropCloses]="false">
        <mercer-modal-header>
          <h3>Similar Utterances</h3>
        </mercer-modal-header>
        <mercer-modal-content>
          <table>
            <tr>
              <td colspan="2">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.UtteranceText.valid }">
                  <label for="UtteranceText">
                <b>Utterance Text</b>
              </label>
                  <input type="text" class="form-control" name="UtteranceText" placeholder="Can i take leave for rehab??" [(ngModel)]="model.UtteranceText"
                    #IntentName="ngModel" required />
                  <div *ngIf="f.submitted && !model.UtteranceText.valid" class="help-block">UtteranceText is required</div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <button mercer-button type="button">Get Similar Utterances</button>
              </td>
            </tr>
            <tr>
              <td>
                <input id="checkbox1" type="checkbox" name="checkbox1" title="" checked>
                <label for="checkbox1"></label>
              </td>
              <td>
                Matching Sentences
              </td>
            </tr>
            <tr>
              <td>
                <input id="checkbox1" type="checkbox" name="checkbox1" title="" checked>
                <label for="checkbox1"></label>
              </td>
              <td>
                Can i take leave for rehab program?
              </td>
            </tr>
            <tr>
              <td>
                <input id="checkbox1" type="checkbox" name="checkbox1" title="" checked>
                <label for="checkbox1"></label>
              </td>
              <td>
                Can i take leave for psych ward??
              </td>
            </tr>
            <tr>
              <td>
                <input id="checkbox1" type="checkbox" name="checkbox1" title="" checked>
                <label for="checkbox1"></label>
              </td>
              <td>
                Can i take leave for rehab facility?
              </td>
            </tr>
            <tr>
              <td>
                <input id="checkbox1" type="checkbox" name="checkbox1" title="" checked>
                <label for="checkbox1"></label>
              </td>
              <td>
                Can i take leave for detox center?
              </td>
            </tr>

            <tr>
              <td>
                <button mercer-button type="button">Done</button>
                <button mercer-button type="button" [flat]="true" (click)="infoExample.close()">Cancel</button>
              </td>
            </tr>
          </table>
        </mercer-modal-content>
      </mercer-modal>
      <mercer-modal #infoExample1 escapable="true" iconType="error" [backdropCloses]="false">
        <mercer-modal-header>
          <h4>Add Entity</h4>
        </mercer-modal-header>
        <mercer-modal-content>
          <table>
            <tr>
              <td>
                <h3> Entity : {{this.selectedText}}</h3>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.EntityName.valid }">
                  <label for="model.EntityName">
                <b>Entity Name</b>
              </label>
                  <input type="text" class="form-control" name="EntityName" [(ngModel)]="this.model.EntityName" #IntentName="ngModel" required
                  />
                  <div *ngIf="f.submitted && !model.EntityName.valid" class="help-block">Entity Name is required</div>
                </div>

              </td>
            </tr>
            <tr>
              <td>
                <button mercer-button type="button" (click)="createEntity(infoExample1)">Done</button>
                <button mercer-button type="button" [flat]="true" (click)="infoExample1.close()">Cancel</button>
              </td>
            </tr>
          </table>
        </mercer-modal-content>
      </mercer-modal>
    </form>
    <!--  <context-menu>
    <ng-template contextMenuItem>
      Say hi!
    </ng-template>
    <ng-template contextMenuItem divider="true"></ng-template>
    <ng-template contextMenuItem let-item>
      Bye, {{item?.name}}
    </ng-template>
    <ng-template contextMenuItem passive="true">
      Input something: <input type="text">
    </ng-template>
  </context-menu> -->
    <!-- <table style="background-color: whitesmoke">
    <tr>
      <td>
        <label>Intent : {{this.preIntentName}}</label>
      </td>
      <td>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !UtteranceText.valid }">
          <label for="UtteranceText">Intent Name</label>
          <input type="text" class="form-control" name="UtteranceText" [(ngModel)]="this.model.UtteranceText" #UtteranceText="ngModel"
            required />
          <div *ngIf="f.submitted && !UtteranceText.valid" class="help-block">UtteranceText is required</div>
        </div>
      </td>
      <td>
        <button mercer-button type="button" (click)="addIntentUtterance()">Add</button>
      </td>
    </tr>
    <tr>
      <td>
        <div class="row mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">
          <mercer-table [striped]="true" [headers]="stripedheaderData" [rows]="stripedrowData">
            <ng-template mercer-table-row let-row="row">
              <td>
                {{row.UtteranceText}}
              </td>
              <td>
                {{row.CategoryName}} </td>
              <td>
                <button mercer-button type="button" icon="" iconPosition="" id="feature-button">....</button>
              </td>
            </ng-template>
          </mercer-table>
        </div>
      
      </td>
    </tr>

  </table>    -->
  </div>
</div>