<!-- <mark *ngIf="matched">{{matched}}</mark>{{unmatched}} -->
<!-- <div class="column shrink" [innerHTML]="highlightedText"></div> -->
<dynamic-content [htmlContent]="highlightedText" (click)="onClicked($event)"></dynamic-content>
