<div class="ec-main-container">
    <div class="row main-container mos-u-spacer--margin-top-lg mos-u-spacer--padding-top-lg mos-u-spacer--padding-bottom-lg">

        <!--
    <div class="columns side-nav">
        <app-side-menu menulevel="ec"></app-side-menu>
    </div>
    -->
    
        <div class="columns main-panel">

<!--   
            <div class="row align-middle mos-u-spacer--margin-bottom-lg" style="margin-top:-3px;margin-bottom: 35px;font-size:1.8rem;font-weight:bold;">
                <div class="small-2 columns mos-o-form-inline-field">
                    <a [routerLink]="['/projectcatalog']">
                        <span style="color:#b3b2b2">Project Catalog</span>
                    </a>
                </div>
                <div class="small-2 columns mos-o-form-inline-field">
                    <a [routerLink]="['/modeleditor']">
                        <span style="color:#b3b2b2">NLP</span>
                    </a>
                </div>
                <div class="small-2 columns mos-o-form-inline-field">
                    <a [routerLink]="['/intentfulfillment']">
                    <span style="color:#b3b2b2">Intent Fulfillment</span>
                </a>
                </div>
                <div class="small-3 columns mos-o-form-inline-field">
                    <a [routerLink]="['/intentimplementation']">
                    <span style="color:#b3b2b2">Intent Implementation</span>
                </a>
                </div>
                <div class="small-3 columns mos-o-form-inline-field">
                    <span style="color:#005C96;background-color:#e6fbff">Enterprise Connector</span>
                </div>

            </div>

            <h3 style="margin-top:-20px;margin-bottom:5px;">
                <span style="font-size: 2rem !important;">
              Intent Implementation
            </span>
                <span style="font-weight:bold"> [Project Name: </span> Health BOT
                <span style="font-weight:bold"> , Project Type: </span> Health
                <span style="font-weight:bold"> ] </span>

            </h3>
        -->     

            <div class="row align-middle mos-u-spacer--margin-bottom-lg">
                <div class="columns small-12 mos-u-spacer--margin-top-lg">
                    <mercer-tab-group theme="alert" borderTheme="alert" activeTheme="alert" class="enterprise-content">

                                              
                        <!--.................3RD TAB STARTS............... -->
                        <mercer-tab>
                            <ng-template mercer-tab-label>
                                DataSets
                            </ng-template>
                            <mercer-tab-content>
                                <mercer-ec-dataset></mercer-ec-dataset>
                            </mercer-tab-content>
                        </mercer-tab>
                        <!--.................3RD TAB ENDS............... -->

                        <!--.................4TH TAB STARTS............... -->
                        <mercer-tab>
                            <ng-template mercer-tab-label>
                                Connectors
                            </ng-template>
                            <mercer-tab-content>
                                <mercer-ec-connector></mercer-ec-connector>
                            </mercer-tab-content>
                        </mercer-tab>
                        <!--.................4TH TAB ENDS............... -->

                        <!--.................5TH TAB STARTS............... -->
                        <mercer-tab>
                            <ng-template mercer-tab-label>
                                Connector Types
                            </ng-template>
                            <mercer-tab-content>
                                <mercer-ec-connectortype></mercer-ec-connectortype>
                            </mercer-tab-content>
                        </mercer-tab>
                        <!--.................5TH TAB ENDS............... -->

                    </mercer-tab-group>
                </div>
            </div>

        </div>
    </div>
</div>