.ec-main-container {
    .row {
        max-width: 100%;
    }
    .main-panel {
        height: 850px;
        width:90%!important;
      //  overflow-y: hidden!important;
    }

    .main-container {
        max-width: 95%!important;
        margin-left:50px!important;
        margin-right: 50px!important;
    }
}