<div class="row intent-implementation-property-container">
    <div class="small-12 columns">

        <div class="row">
            <div class="small-6 columns">
                <span class="property-header-text">Node:</span>
                <span class="property-header-value">{{ nodelabel }} </span>
            </div>
            <div class="small-6 columns">
                <span class="property-header-text">Property:</span>
                <span class="property-header-value">{{ propertytype }} </span>
            </div>
        </div>

        <br />

        <!-- for Connector Property -->
        <div *ngIf="propertytype=='connector'">
            <div class="row">
                <div class="small-6 columns">
                    <span class="property-heading">Dataset</span>
                </div>
                <div class="small-5 columns">
                    <select id="connectordatasets" [(ngModel)]="selectedDatasetId" (change)="onDatasetChange()" style="margin: 0px;padding-left: 5px; text-transform: uppercase;">
                        <option value="" selected>Select Connector Dataset</option>
                        <option *ngFor="let ds of connectordatasets" [value]="ds.datasetid">{{ds.name}}</option>
                    </select>
                </div>
                <div class="small-1 columns">
                    <button mercer-icon-button type="button" icon="format_list_bulleted" alt="DatasetPreview" 
                    (click)="showDataPreview(dataPreviewInterface)"
                    mercer-tooltip mercer-tooltip-text="Preview Data" mercer-tooltip-position="bottom-left" mercer-tooltip-delay="100"></button>
    
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns property-box">

                    <div class="row  property-header-row">
                        <div class="small-5 columns property-col">
                            <span class="property-text">Node Attribute</span>
                        </div>
                        <div class="columns property-col">
                            <span class="property-text">Dataset  Attribute</span>
                        </div>
                    </div>


                    <div *ngFor="let mapping of attributemapping">
                        <div class="row">
                            <div class="small-5 columns property-col">
                                <span class="property-text">{{ mapping.nodeattr }}</span>
                            </div>
                            <div class="columns property-col">
                                <input type="text" class="property-value" [value]="mapping.connectorattr" (change)="onAttributeValueChange(mapping.nodeattr, $event)"
                                />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <!-- for Connector Property -->
        <div *ngIf="propertytype=='input'">
            <div class="row property-header-row">
                <div class="small-3 columns property-col">
                    <span class="property-text">Node Attribute</span>
                </div>
                <div class="small-2 columns property-col">
                    <span class="property-text">Source Type</span>
                </div>
                <div class="small-3 columns property-col">
                    <span class="property-text">Source Name</span>
                </div>
                <div class="columns property-col">
                    <span class="property-text">Source Value</span>
                </div>
                <div class="columns property-col" *ngIf="nodetype=='aggregatefunction'">
                    <span class="property-text">Group By</span>
                </div>
            </div>

            <div *ngFor="let param of inputparams">
                <div class="row">
                    <div class="small-3 columns property-col">
                        <!--
                        <input type="text" class="property-text" [value]="param.name" (change)="onInputParamsChange('name',param.name,$event)" />
                        -->
                        <span class="property-text">{{param.name}}</span>
                    </div>
                    <div class="small-2 columns property-col">
                        <select class="property-value" (change)="onInputParamsChange(param.name, 'sourcetype',param.sourcetype,$event)">
                            <option value=''>Select Source Type</option>
                            <option value="intententity" *ngIf="nodetype!='aggregatefunction'" [selected]="param.sourcetype=='intententity'">POS
                                Entity
                            </option>
                            <option value="node" [selected]="param.sourcetype=='node'">Node</option>
                        </select>
                    </div>
                    <div class="small-3 columns property-col">
                        <!-- 
                        <input type="text" class="property-value" placeholder="Source Name" [value]="param.sourcename" *ngIf="getInputParamPropValue(param.name,'sourcetype') == 'intententity'"
                            (change)="onInputParamsChange(param.name, 'sourcename',param.sourcename,$event)" />
                        -->

                        <select class="property-value" id="selSourceType" *ngIf="getInputParamPropValue(param.name,'sourcetype') == 'intententity'"
                            (change)="onInputParamsChange(param.name, 'sourcename',param.sourcename,$event)">
                            <option value=''>Select POS Entity</option>
                            <option *ngFor="let entity of posEntities" [value]="entity.entity_type" [selected]="param.sourcename==entity.entity_type">{{entity.entity_type}}</option>
                        </select>

                        <select class="property-value" id="selSourceType" *ngIf="getInputParamPropValue(param.name,'sourcetype') == 'node'" (change)="onInputParamsChange(param.name, 'sourcename',param.sourcename,$event)">
                            <option value=''>Select Node</option>
                            <option *ngFor="let nd of nodemappings" [value]="nd.node.nodeid" [selected]="param.sourcename==nd.node.nodeid">{{nd.node.label}}</option>
                        </select>
                    </div>
                    <div class="columns property-col">
                        <input type="text" class="property-value" placeholder="Source Value" [value]="param.sourcevalue" *ngIf="getInputParamPropValue(param.name,'sourcetype') == 'intententity'"
                            (change)="onInputParamsChange(param.name, 'sourcevalue',param.sourcevalue,$event)" />

                        <select class="property-value" *ngIf="getInputParamPropValue(param.name,'sourcetype') == 'node'" (change)="onInputParamsChange(param.name, 'sourcevalue',param.sourcevalue,$event)">
                            <option value=''>Select Attribute</option>
                            <option *ngFor="let attr of basenodeattributes[param.name]" [value]="attr.name" [selected]="param.sourcevalue==attr.name">{{attr.name}}</option>
                        </select>
                    </div>
                    <div class="columns property-col" *ngIf="nodetype=='aggregatefunction'">
                        <!--
                        <input type="text" class="property-value" placeholder="Group By" [value]="param.sourcegroupby" (change)="onInputParamsChange(param.name, 'sourcegroupby',param.sourcegroupby,$event)"
                        />
                        -->

                        <select class="property-value" *ngIf="getInputParamPropValue(param.name,'sourcetype') == 'node'" (change)="onInputParamsChange(param.name, 'sourcegroupby',param.sourcegroupby,$event)">
                            <option value=''>Select Attribute</option>
                            <option *ngFor="let attr of basenodeattributes[param.name]" [value]="attr.name" [selected]="param.sourcegroupby==attr.name">{{attr.name}}</option>
                        </select>

                    </div>
                </div>
            </div>
        </div>


        <!-- for Output Cols Property -->
        <div *ngIf="propertytype=='output'">
            <div class="row">
                <div class="small-12 columns">
                    <div class="top-row-option">
                        <input id="chkAllOutputCols" type="checkbox" name="chkAllOutputCols" title="" [(ngModel)]="outputAllCols" (ngModelChange)="onOutputParamsAllCols($event)">
                        <label for="chkAllOutputCols">All Columns</label>
                    </div>
                </div>
            </div>

            <div class="row property-header-row">
                <div class="small-12 columns property-col">
                    <span class="property-text">Or Select the specific columns</span>
                </div>
            </div>
            <div *ngFor="let param of outputparams">
                <div class="row">
                    <div class="small-12 columns property-col">
                        <input [id]="param.name" type="checkbox" [name]="param.name" title="" [(ngModel)]="param.selected" (ngModelChange)="onOutputParamsChange(param.name,$event)">
                        <label [for]="param.name">{{param.name}}</label>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<mercer-modal #dataPreviewInterface escapable="true" theme="primary">
    <mercer-modal-header>
      <h3>DataSet - Preview your data</h3>
    </mercer-modal-header>
    <mercer-modal-content contentMaxHeight="400">
      <div>
        <div class="row">
          <div class="small-6 columns"><span class="preview-info-label">Data Set: </span>{{ selecteddatasetname }} </div>
        </div>
        <br/>
        <span class="preview-instruction">{{previewstatus}}</span>
        <br /><br />
        <div class="previewresultstyle"> {{previewresult}} </div>
        <br />
      </div>
    </mercer-modal-content>
    <mercer-modal-footer>
      <div class="row align-right is-collapse-child mos-c-modal__actions">
        <div>
          <button mercer-button expandedOn="small" [flat]="true" size="sm" (click)="dataPreviewInterface.close()">Close</button>
        </div>
      </div>
    </mercer-modal-footer>
  </mercer-modal>