.intent-implementation-property-container {
    max-width: 100%;
}

.property-box {
    border: solid;
    border-width: thin;
    margin: 10px
}

.property-header-row {
    background-color: #005c96 !important;
    color: white;
}

.property-col {
    border: solid;
    border-width: 1px;
    border-color:#005c96;
}

.property-header-text {
    font-weight: bold;
    color: blue;
}

.property-header-value {
    font-weight: bold;
    color: black;
    text-transform: capitalize;
}

.property-heading {
    font-weight: bold;
}

.property-text {
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    vertical-align: -webkit-baseline-middle!important;
    vertical-align: middle!important;
    font-weight: bold!important;
}

.property-value {
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    vertical-align: -webkit-baseline-middle!important;
    vertical-align: middle!important;
}

.top-row-option {
   
    margin-bottom: 10px!important;
    height: 30px!important;
}

.preview-instruction {
    font-style: italic;
    color: darkgray;
  }

.previewresultstyle{
    background-color: lightyellow;
    height:150px;
    overflow: auto;
    border: solid 1px black;
}